<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
        	<div class="row">
            <div class="page-header">
          		<h1>Quantum Failure Analysis Reports</h1>
          		<h5>Because failure <em>is</em> an option</h5>
            </div>
        	</div>
           	<div class="row">
           		<div class="span2">
           			<div class="sidebar">
        				<%= render 'layouts/navigation' %>
        			</div>
        		</div>
            	<div class="span10">
              		<%= yield %>
            	</div>
          	</div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>