<%= form_for(@forgot_password, :html => {:class => 'form-horizontal', :role => 'form'}) do |f| %>
    <% if @forgot_password.errors.any? %>
        <div id="error_explanation">
          <p><%= pluralize(@forgot_password.errors.count, "error") %> prohibited you from resetting your password</p>

          <ul>
            <% @forgot_password.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.hidden_field :token, :value => @forgot_password.token %>

      <%= f.label :new_pass, "New Password", :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.password_field :new_pass, :autocomplete => 'off', :class => "form-control" %>
      </div>

      <% if @forgot_password.errors[:new_pass].any? %>
            <span class="help-block col-sm-6">
                <ul>
                  <% @forgot_password.errors[:new_pass].each do |msg| %>
                      <li style="list-style: none"><%= msg %></li>
                  <% end %>
                </ul>
            </span>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :confirmation, "Confirm New Password", :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.password_field :confirmation, :autocomplete => 'off', :class => "form-control" %>
      </div>

      <% if @forgot_password.errors[:confirmation].any? %>
        <span class="help-block col-sm-6">
          <ul>
            <% @forgot_password.errors[:confirmation].each do |msg| %>
                <li style="list-style: none"><%= msg %></li>
            <% end %>
          </ul>
        </span>
      <% end %>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Submit", :id => "submitForgotPasswordButton", :class => "btn btn-info" %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $("#forgot_password_new_pass").popover({
        html: true,
        content: "<%= APP_CONFIG['password_policy'].join("<br/>").html_safe %>",
        trigger: "focus",
        template: '<div class="popover"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>'
    });
</script>