<h3>Failing Test Leaderboard</h3>

<%= form_tag("/features", :method => :get) do %>
  <%= label_tag(:component_filter, "Component:") %>
  <%= select_tag(:component_filter, options_for_select(controller.getComponentOptions, params[:component_filter]), :include_blank => true) %>
  <%= label_tag(:time_filter, "Since:") %>
  <%= select_tag(:time_filter, options_for_select([ ["Beginning (All)", 0], ["Two weeks" , 1209600], ["Two months", 5184000] ], params[:time_filter])) %>
  <%= submit_tag "Filter" %>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>Feature Name</th>
			<th>Component</th>
			<th># Failures</th>
		</tr>
	</thead>
	<tbody>
	<% @features.each { |feature| %>
		<tr>
			<td><%=feature[:name]%></td>
			<td><%=feature[:component]%></td>
			<td><%=feature[:count]%></td>
		</tr>
	<% } %>
	</tbody>
</table>
