<%= form_for(@eula) do |f| %>
  <% if @eula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eula.errors.count, "error") %> prohibited this eula from being saved:</h2>

      <ul>
      <% @eula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <div class="field">
      <table style="border: 1px solid">
        <tr>
          <td>
            <pre width="80" style="height: 400px; overflow-y: scroll; background-color:#FFFFFF">
                <%= render :file => '../../public/license.txt' %>
            </pre>
          </td>
        </tr>
      </table>
    </div>
    <br/>

    <%= f.submit "Accept", 
      :id => "acceptEulaButton" %>
    <%= f.submit "Reject", 
      :id => "rejectEulaButton" %>

  </div>
<% end %>
