<%= form_for(@mapping) do |f| %>
  <% if @mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mapping.errors.count, "error") %> prohibited this mapping from being saved:</h2>

      <ul>
      <% @mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= select_tag :sli_role, options_from_collection_for_select(@mapping, "name", "name")%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
