<h2> Mappings for <%= params[:id]%></h2>
<p id="notice"><%= notice %></p>
<%= select_tag :mapping, options_for_select(@sli_roles)  %>
<div class="client-roles">
<% @mapping.each do |mapping| %>
<%= select_tag mapping[:name], options_for_select(mapping[:mappings])%>
<% end %>
</div>
<%= link_to 'Back', mappings_path %>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		hideAll();
		$('select#mapping').change(function() {
			var $option = $(this).val();
			$option = $option.replace(' ', '_');
			console.log($option);
			hideAll();
			$("#" + $option).fadeIn();
			
		});
		
		function hideAll() {
			$('div.client-roles').find('select').hide();
		}
	});
	
</script>