
<h2> Mappings for <%= params[:id]%></h2>
<p id="notice"><%= notice %></p>
<%= select_tag :mapping, options_for_select(@sli_roles)  %>
<% @mapping.each do |mapping| %>
<%= select_tag mapping[:name], options_for_select(mapping[:mappings])%>
<% end %>
<%= link_to 'Back', mappings_path %>
