<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @staff.name %>
</p>

<p>
  <b>Role:</b>
  <%= @staff.role %>
</p>

<p>
  <b>Tenant:</b>
  <%= @staff.tenant %>
</p>


<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
