<%= form_for(app) do |f| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this application from being saved:</h2>
      <ul>
      <% app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <%end%>
<div class="well row">
  <div class="span4">
    Client ID<br />
    <%=client_field_value(app, :client_id)%>
  </div>
  <div class="span4">
    Shared Secret<br/>
    <%= client_field_value(app, :client_secret) %>
  </div>
</div>
<div class = "field">
	<%= f.label :name, "Name", :class => "required" %>
	<%= f.text_field :name %>
</div>
<div class = "field">
	<%= f.label :description, "Description", :class => "required" %>
	<%= f.text_area :description %>
</div>
<div class = "field">
	<%= f.label :version, "Version", :class => "required" %>
	<%= f.text_field :version, :placeholder => "1.0" %>
	<span class="help-inline">The current version of your application (1.0)</span>
</div>
<div class = "field">
	<%= f.label :vendor, "Vendor", :class => "required" %>
	<%= f.text_field :vendor %>
	<span class="help-inline"> Your company Name</span>
</div>

<div class = "field">
	<%= f.label :application_url, "Url", :class => "required" %>
	<%= f.text_field :application_url, :placeholder => 'https://' %>
	<span class="help-inline">The URL used to access your application</span>
</div>
<div class = "field">
	<%= f.label :administration_url, "Admin Url" %>
	<%= f.text_field :administration_url, :placeholder => 'https://' %>
	<span class="help-inline">Where you can go to administer your application (Optional)</span>
</div>
<div class = "field">
	<%= f.label :is_admin, "Admin Application" %>
	<%= f.check_box :is_admin %>
	<span class="help-inline">Is this an administrative application?</span>
</div>
<div class = "field">
	<%= f.label :behavior, "Display Method" %>
	<%= select_tag(:app_behavior, options_for_select(['Iframe App', 'Wsrp App', 'Full Window App'], app.behavior))%>
	<span class="help-inline">How does this application behave, can it be put into an IFrame, behave as a portlet, or stand alone?</span>
</div>
<div class = "field">
	<%= f.label :redirect_uri, "Redirect Url", :class => "required" %>
	<%= f.text_field :redirect_uri, :placeholder => 'https://' %>
	<span class="help-inline">Where OAuth will redirect to after authentication.</span>
</div>
<div class = "field">
	<%= f.label :installed, "Installed" %>
	<%= f.check_box :installed %>
	<span class="help-inline">This is used for applications that aren't web-based (Mobile).</span>
</div>


<div class = "field">
	<!--<%= image_tag app.image_url, :title => "Image", :class => "app-image" %>-->
	<%= f.label :image_url, "Image Url" %>
	<%= f.text_field :image_url %>
	<span class="help-inline">An optional image url to be displayed as an icon</span>
</div>


  <% check_box_name = h(app.name + "_authorized_ed_orgs[]").gsub(" ", "_") if app.name !=  nil%>
  <% check_box_name = "authorized_ed_orgs[]" if check_box_name == nil %>
  <% isNew = @district_hierarchy == nil %>
  
  <% if !isNew and !app.pending? and !app.bootstrap %>
  <div class ="<%= "field edorgs" if !isNew and !app.pending? %> <%= "yellow" if app.in_progress? %>">
    <h3>Enable</h2>
    <h6>Choose the states or Districts you would like to have access to your application.</h6>
    <div class="links">
    <%= link_to "Enable All", "#", :id => "enable-all"%> |
    <%= link_to "Disable All", "#", :id => "disable-all" %>
    </div>
  <% @district_hierarchy = {} if isNew or app.pending? %>
  <ul class="clear">
  <% @district_hierarchy.keys.each do |district| %>
    <li>
      <% if !app.authorized_ed_orgs.nil? %>
        <%= check_box_tag(check_box_name, district["stateOrganizationId"], app.authorized_ed_orgs.include?(district["stateOrganizationId"])) %>
      <% else %>
         <%= check_box_tag(check_box_name, district["stateOrganizationId"]) %>
      <%end%>

         <%= district["name"] %>
         <ul class="clear">
    <% @district_hierarchy[district].each do |child_district| %>
            <li>
            <%=
                if app.authorized_ed_orgs != nil
                    check_box_tag(check_box_name, child_district["stateOrganizationId"], app.authorized_ed_orgs.include?(child_district["stateOrganizationId"]))
                else
                    check_box_tag(check_box_name, child_district["stateOrganizationId"])
                end
            %>
            <%= child_district["name"] %>
            </li>
    <% end %>
      </ul>
    </li>
    <% end %>
    </ul>
  <% end %>
  </div>
<div class = "actions">
	<%= f.submit "Save", :disable_with => 'Submitting...', :class => "btn" %>
	<%= link_to "Cancel", :back %>
</div>
<% end %>
