<%= form_for(app) do |f| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this application from being saved:</h2>
      <ul>
      <% app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <%end%>
<div class="well row">
  <div class="span4">
    Client ID<br />
    <p><em> The client ID needed to perform OAuth</em></p>
    <%=client_field_value(app, :client_id)%>
  </div>
  <div class="span4">
    Shared Secret<br/>
    <p><em> The shared secret needed to perform OAuth</em></p>
    <%= client_field_value(app, :client_secret) %>
  </div>
</div>
<div class = "field">
	<%= f.label :name, "Name", :class => "required" %>
	<%= f.text_field :name %>
</div>
<div class = "field">
	<%= f.label :description, "Description", :class => "required" %>
	<%= f.text_area :description %>
</div>
<div class = "field">
	<%= f.label :version, "Version", :class => "required" %>
	<%= f.text_field :version, :placeholder => "1.0" %>
	<span class="help-inline">The current version of your application (1.0)</span>
</div>

<div class = "field" id='application_url'>
	<%= f.label :application_url, "Url", :class => "required" %>
    <% if app.installed %>
          <%= f.text_field :application_url, :placeholder => "https://", :disabled => true %>
	<% else %>
      <%= f.text_field :application_url, :placeholder => "https://" %>
    <% end %>
	<span class="help-inline">The URL used to access your application</span>
</div>
<div class = "field">
	<%= f.label :administration_url, "Admin Url" %>
	<%= f.text_field :administration_url, :placeholder => 'https://' %>
	<span class="help-inline">Where you can go to administer your application (Optional)</span>
</div>
<div class = "field">
	<%= f.label :is_admin, "Admin Application" %>
	<%= f.check_box :is_admin %>
	<span class="help-inline">Is this an administrative application?</span>
</div>
<div class = "field">
	<%= f.label :behavior, "Display Method" %>
	<%= select_tag(:app_behavior, options_for_select(['iframe App', 'WSRP App', 'Full Window App'], app.behavior))%>
	<span class="help-inline">How does this application behave, can it be put into an IFrame, behave as a portlet, or stand alone?</span>
</div>
<div class = "field" id='redirect_uri'>
	<%= f.label :redirect_uri, "Redirect Url", :class => "required" %>
     <% if app.installed %>
	    <%= f.text_field :redirect_uri, :placeholder => 'https://', :disabled => true %>
     <% else %>
        <%= f.text_field :redirect_uri, :placeholder => "https://" %>
     <% end %>
	<span class="help-inline">Where OAuth will redirect to after authentication.</span>
</div>
<div class = "field" id='installed'>
	<%= f.label :installed, "Installed" %>
	<%= f.check_box :installed %>
	<span class="help-inline">This is used for applications that aren't web-based (Mobile).</span>
</div>


<div class = "field">
	<!--<%= image_tag app.image_url, :title => "Image", :class => "app-image" %>-->
	<%= f.label :image_url, "Image Url" %>
	<%= f.text_field :image_url %>
	<span class="help-inline">An optional image url to be displayed as an icon</span>
</div>
<div id="enable-menu" class="well">
<div id="state-menu">
  <ul class="select-list clear">
    <% @sea.each do |state| %>
      <li class="<%= state["state"]%>"><%= link_to "#{state["name"]} (#{state["state"]})", {:action => "get_local_edorgs", state: state["state"]}, :remote => true %></li>
    <% end %>
  </ul>
</div>
<div id="lea-menu">
  <p>Please select a state first...</p>
</div>
<div class="clear"></div>
</div>

<div class = "actions">
	<%= f.submit "Save", :disable_with => 'Submitting...', :class => "btn" %>
	<%= link_to "Cancel", :back %>
</div>
<% end %>
