<% def require_marker %>
<% "<span style=\"color:red\">*</span>" %>
<% end %>

<%= form_for(app, :html=> {:id => 'aeForm', :class => "form-horizontal", :role => "form"}) do |f| %>
    <% if app.errors.any? %>
        <div id="error_explanation" class="bg-danger">
          <h2><%= pluralize(app.errors.count, "error") %> prohibited this application from being saved:</h2>
          <ul>
            <% app.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <%end%>
    <div class="bg-info">
      <div class="form-group">
        <label class="col-sm-2 control-label">Client ID</label>
        <div class="col-sm-6">
          <p class="form-control-static"><%=client_field_value(app, :client_id)%></p>
          <p class="help-block"> The client ID needed to perform OAuth</p>
        </div>

      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Shared Secret</label>
        <div class="col-sm-6">
            <p class="form-control-static"><%= client_field_value(app, :client_secret) %></p>
            <p class="help-block">The shared secret needed to perform OAuth</p>
        </div>
      </div>
    </div>

    <div class = "form-group">
      <%= f.label :name, "Name #{require_marker}".html_safe, :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>
    <div class = "form-group">
      <%= f.label :description, "Description #{require_marker}".html_safe, :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_area :description, :class => "form-control" %>
      </div>
    </div>
    <div class = "form-group">
      <%= f.label :version, "Version #{require_marker}".html_safe, :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :version, :placeholder => "1.0" %>
        <span class="help-block">The current version of your application (1.0)</span>
      </div>
    </div>

    <div class = "form-group" id='application_url'>
      <%= f.label :application_url, "Url #{require_marker}".html_safe, :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <% if app.installed %>
            <%= f.text_field :application_url, :placeholder => "https://", :disabled => true %>
        <% else %>
            <%= f.text_field :application_url, :placeholder => "https://" %>
        <% end %>
        <span class="help-block">The URL used to access your application</span>
      </div>
    </div>
    <div class = "form-group">
      <%= f.label :administration_url, "Admin Url" , :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :administration_url, :placeholder => 'https://' %>
        <span class="help-block">Where you can go to administer your application (Optional)</span>
      </div>
    </div>
    <div class = "form-group">
      <%= f.label :is_admin, "Admin Application", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.check_box :is_admin %>
        <span class="help-block">Is this an administrative application?</span>
      </div>
    </div>

    <div class = "form-group">
      <%= f.label :behavior, "Display Method", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= select_tag(:app_behavior, options_for_select(['iframe App', 'WSRP App', 'Full Window App'], app.behavior))%>
        <span class="help-block">How does this application behave, can it be put into an IFrame, behave as a portlet, or stand alone?</span>
      </div>
    </div>
    <div class = "form-group" id='redirect_uri'>
      <%= f.label :redirect_uri, "Redirect Url #{require_marker}".html_safe, :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <% if app.installed %>
            <%= f.text_field :redirect_uri, :placeholder => 'https://', :disabled => true %>
        <% else %>
            <%= f.text_field :redirect_uri, :placeholder => "https://" %>
        <% end %>
        <span class="help-block">Where OAuth will redirect to after authentication.</span>
      </div>
    </div>
    <div class = "form-group" id='installed'>
      <%= f.label :installed, "Installed", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.check_box :installed %>
        <span class="help-block">This is used for applications that aren't web-based (Mobile).</span>
      </div>
    </div>

    <div class = "form-group">
      <!--<%= image_tag app.image_url, :title => "Image", :class => "app-image" %>-->
      <%= f.label :image_url, "Image Url", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :image_url %>
        <span class="help-block">An optional image url to be displayed as an icon</span>
      </div>
    </div>

    <div class= "well">
      <div class = "form-group" id="isBulkExtract">
        <%= f.label :isBulkExtract, "Bulk Extract", :class => "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.check_box :isBulkExtract %>
          <span class="help-block">Is this application used to perform only bulk extraction?</span>
        </div>
      </div>
    </div>

    <h3>Enable the Education Organizations you would like to use your application</h3>
    <div id="edorgTree">

      <ul>
        <li>Please choose edOrgs to enable for the app.
        <li>Following each EdOrg are counts of: <span class="treecounts">(direct subsidiary EdOrgs / total subsidiary EdOrgs)</span>
      </ul>
      <input id="hierarchical_mode" type="checkbox" checked="true">Hierarchical Selection Mode</input>

      <a href="#" id="expand_all">Expand All</a>
      <a href="#" id="collapse_all">Collapse All</a>
  <span class = "edOrgTreeActions">
    <%= f.submit "Save & Update", :disable_with => 'Save & Update', :class => "btn btn-primary" %>
    <%= f.submit 'Cancel', :id => 'Cancel1', :disable_with => 'Cancel', :class => "btn btn-info" %>
  </span>


      <div>
        <%= @treeHtml.html_safe %>
      </div>

      <p><%= @treeHelperDebug.html_safe %></p>

  <span class = "edOrgTreeActions" >
	<%= f.submit "Save & Update", :disable_with => 'Save & Update', :class => "btn btn-primary" %>
    <%= f.submit 'Cancel', :id => 'Cancel2', :disable_with => 'Cancel', :class => "btn btn-info" %>
  </span>

    </div>

<% end %>
