<%= form_for(app) do |f| %>
<div class = "field">
	<%= f.label :name, "Name" %>
	<%= f.text_field :name %>
</div>
<div class = "field">
	<%= f.label :description, "Description" %>
	<%= f.text_area :description %>
</div>
<div class = "field">
	<%= f.label :version, "Version" %>
	<%= f.text_field :version %>
</div>
<div class = "client">
	<%= f.label :client_id, "Client Id" %>
	<%= f.text_field :client_id, :disabled => true, :class => :read_only, :value => client_field_value(app, :client_id) %>
</div>
<div class = "client">
	<%= f.label :client_secret, "Shared Secret" %>
	<%= f.text_field :client_secret, :disabled => true, :class => :read_only, :value => client_field_value(app, :client_secret) %>
</div>

<%= f.fields_for :developer_info, app.developer_info do |dev| %>
	<div class = "field">
		<%= dev.label :organization, "Vendor" %>
		<%= dev.text_field :organization %>
	</div>
<% end %>

<div class = "field">
	<%= f.label :application_url, "Url" %>
	<%= f.text_field :application_url, :placeholder => 'https://' %>
</div>
<div class = "field">
	<%= f.label :administration_url, "Admin Url" %>
	<%= f.text_field :administration_url, :placeholder => 'https://' %>
</div>
<div class = "field">
	<%= f.label :is_admin, "Admin Application" %>
	<%= f.check_box :is_admin %>
</div>
<div class = "field">
	<%= f.label :behavior, "Display Method" %>
	<%= select_tag(:app_behavior, options_for_select(['Iframe App', 'Wsrp App', 'Full Window App'], app.behavior))%>
</div>
<div class = "field">
	<%= f.label :redirect_uri, "Redirect Url" %>
	<%= f.text_field :redirect_uri, :placeholder => 'https://' %>
</div>
<div class = "field">
	<%= f.label :installed, "Installed" %>
	<%= f.check_box :installed %>
</div>


<div class = "field">
	<!--<%= image_tag app.image_url, :title => "Image", :class => "app-image" %>-->
	<%= f.label :image_url, "Image Url" %>
	<%= f.text_field :image_url %>
</div>

<div class = "field">
  <% check_box_name = h(app.name + "_authorized_ed_orgs[]").gsub(" ", "_") if app.name !=  nil%>
  <% check_box_name = "authorized_ed_orgs[]" if check_box_name == nil %>
  <% isNew = @district_hierarchy == nil %>
  <% isPending = client_field_value(app, :client_id) == "Pending"%>
  <% @district_hierarchy = {} if isNew or isPending %>
  <% @district_hierarchy.keys.each do |district| %>
      <%=
          if app.authorized_ed_orgs != nil
              check_box_tag(check_box_name, district["stateOrganizationId"], app.authorized_ed_orgs.include?(district["stateOrganizationId"]))
          else
              check_box_tag(check_box_name, district["stateOrganizationId"])
          end
      %>

         <%= district["name"] %>    <br />
    <% @district_hierarchy[district].each do |child_district| %>
            &#160;&#160;
            <%=
                if app.authorized_ed_orgs != nil
                    check_box_tag(check_box_name, child_district["stateOrganizationId"], app.authorized_ed_orgs.include?(child_district["stateOrganizationId"]))
                else
                    check_box_tag(check_box_name, child_district["stateOrganizationId"])
                end
            %>
            <%= child_district["name"] %> <br />
    <% end %>
  <% end %>
  <%= button_to_function("Enable All", 'changeCheck("' + check_box_name + '", 1)')  if !isNew and !isPending%>
  <%= button_to_function("Disable All", 'changeCheck("' + check_box_name + '", 0)')  if !isNew and !isPending%>

</div>
<div class = "actions">
	<%= f.submit "Submit", :disable_with => 'Submitting...' %>
</div>
<% end %>
