<% def require_marker %>
<% "<span style=\"color:red\">*</span>" %>
<% end %>

<%= form_for(app, :html=> {:class => "form-horizontal", :role => "form"}) do |f| %>
    <% if app.errors.any? %>
        <div id="error_explanation" class="bg-danger">
          <h2><%= pluralize(app.errors.count, "error") %> prohibited this application from being saved:</h2>
          <ul>
            <% app.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <%end%>

    <div class = "form-group">
      <%= f.label :name, "Name #{require_marker}".html_safe, :class => "required  col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :name, :type => "text", :class => "form-control" %>
      </div>
    </div>
    <div class = "form-group">
      <%= f.label :description, "Description #{require_marker}".html_safe, :class => "required  col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_area :description, :class => "form-control" %>
      </div>
    </div>
    <div class = "form-group">
      <%= f.label :version, "Version #{require_marker}".html_safe, :class => "required  col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= f.text_field :version, :placeholder => "1.0", :class => "form-control" %>
      <span class="help-block">The current version of your application (1.0)</span>
        </div>
    </div>
    <div class = "form-group">
      <%= f.label :client_id, "Client Id", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= f.text_field :client_id, :disabled => true, :class => "form-control", :value => client_field_value(app, :client_id) %>
        </div>
    </div>
    <div class = "form-group">
      <%= f.label :client_secret, "Shared Secret", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= f.text_field :client_secret, :disabled => true, :class => :read_only, :value => client_field_value(app, :client_secret), :class => "form-control" %>
        </div>
    </div>

    <div class = "form-group" id='application_url'>
      <%= f.label :application_url, "Url #{require_marker}".html_safe, :class => "required  col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= f.text_field :application_url, :placeholder => 'https://', :class => "form-control" %>
      <span class="help-block">The URL used to access your application</span>
        </div>
    </div>
    <div class = "form-group">
      <%= f.label :administration_url, "Admin Url", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= f.text_field :administration_url, :placeholder => 'https://', :class => "form-control" %>
      <span class="help-block">Where you can go to administer your application (Optional)</span>
        </div>
    </div>
    <div class = "form-group">
      <%= f.label :is_admin, "Admin Application", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= f.check_box :is_admin, :class => "checkbox" %>
      <span class="help-block">Is this an administrative application?</span>
        </div>
    </div>

    <div class = "form-group">
      <%= f.label :behavior, "Display Method", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= select_tag(:app_behavior, options_for_select(['iframe App', 'WSRP App', 'Full Window App'], app.behavior), :class => "form-control")%>
      <span class="help-block">How does this application behave, can it be put into an IFrame, behave as a portlet, or stand alone?</span>
        </div>
    </div>
    <div class = "form-group" id='redirect_uri'>
      <%= f.label :redirect_uri, "Redirect Url #{require_marker}".html_safe, :class => "required  col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= f.text_field :redirect_uri, :placeholder => 'https://', :class => "form-control" %>
      <span class="help-block">Where OAuth will redirect to after authentication.</span>
        </div>
    </div>
    <div class = "form-group" id='installed'>
      <%= f.label :installed, "Installed", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= f.check_box :installed, :class => "checkbox" %>
      <span class="help-block">This is used for applications that aren't web-based (Mobile).</span>
        </div>
    </div>


    <div class = "form-group">
      <!--<%= image_tag app.image_url, :title => "Image", :class => "app-image" %>-->
      <%= f.label :image_url, "Image Url", :class => "col-sm-2 control-label" %>
      <div class="col-sm-6">
      <%= f.text_field :image_url, :class => "form-control" %>
      <span class="help-block">An optional image url to be displayed as an icon</span>
        </div>
    </div>


    <div class = "form-group">
      <div class = "field" id="isBulkExtract">
        <%= f.label :isBulkExtract, "Bulk Extract", :class => "col-sm-2 control-label" %>
        <div class="col-sm-6">
        <%= f.check_box :isBulkExtract, :class => "checkbox" %>
        <span class="help-block">Is this application used to perform only bulk extraction?</span>
          </div>
      </div>
    </div>


    <div class = "actions">
      <%= f.submit "Register", :disable_with => 'Submitting...', :class => "btn btn-primary" %>
      <%= link_to "Cancel", :back, :class => "btn btn-info" %>
    </div>
<% end %>
