<h1>Application Management</h1>
<h6>Approve and deny applications developers have registered</h6>

<table id="applications" class="table">
  <thead>
	<tr>
		<th>Name</th>
		<th>Version</th>
		<th>Vendor</th>
		<th>Request Date</th>
		<th>Approval Date</th>
		<th>Status</th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<% @apps.select {|app| app.registration.status == 'PENDING' || app.registration.status == 'APPROVED'}
            .sort{|a,b| b.registration.status <=> a.registration.status}.each do |app| %>
		<tr id='<%= app.id %>'>
      <td><%= app.name %></td>
      <td><%= app.version %></td>
      <td><%= app.vendor %></td>
      <td><%= I18n.localize(Time.at(app.registration.request_date / 1000)) unless !app.registration.attributes.has_key? :request_date %></td>
      <td><%= I18n.localize(Time.at(app.registration.approval_date / 1000)) unless !app.registration.attributes.has_key? :approval_date %></td>
                <td><%= app.registration.status %></td>
		<td class="rowAction"><%= button_to "Approve", {:action => "approve", :id => app.id}, {:disabled => app.registration.status != 'PENDING', :class => 'approve-button btn', } %></td>
                <td class="rowAction"><%= button_to 'Deny', {:action => "unregister", :id => app.id}, {:class => 'unregister-button btn btn-danger', :confirm => 'Are you sure you want to deny/unregister this application?'}%></td>
		</tr>
		<tr>
			<td colspan="8"><%= render :partial => 'single', :locals => {:app => app} %></td>
		</tr>
	<% end %>
	</tbody>
</table>
