

<table id="applications">
	<tr>
		<th>Name</th>
		<th>Version</th>
		<th>Vendor</th>
		<th>Creation Date</th>
		<th>Last Update</th>
		<th>Actions</th>
	</tr>
	<% @apps.each do |app| %>
		<tr>
	    	<td><%= app.name %></td>
		    <td><%= app.version %></td>
			<td><%= app.developer_info.organization %></td>
		    <td><%= app[:created_on] unless !app.has_key? :created_on %></td>
			<td><%= app[:updated_on] unless !app.has_key? :updated_on %></td>
			<td><%= link_to 'Edit', "#", :class=> 'edit-link' %> | <%= link_to 'Delete', app, :remote => true,  :confirm => "Are you sure?", :method => :delete %></td>
		</tr>
		<tr>
			<td colspan="6"><%= render :partial => 'form', :locals => {:app => app} %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'New Application', new_app_path %>

<script type="text/javascript" charset="utf-8">
	jQuery(document).ready(function() {
		jQuery.noConflict();
		jQuery(':input:enabled').attr('disabled', true);
		jQuery("a.edit-link").click(function() {
			//Enable input on this form.
			jQuery(this).closest("tr").next().find(':input').attr('disabled', false);
		});
		jQuery("#applications tr:odd").addClass("odd");
		        jQuery("#applications tr:not(.odd)").hide();
		        jQuery("#applications tr:first-child").show();
		        
		        jQuery("#applications tr.odd").click(function(){
		            jQuery(this).next("tr").slideToggle();
		            // $(this).find(".arrow").toggleClass("up");
		        });
	});
</script>