<h1>Listing education_organizations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @@levels.each do |education_organization| %>
  <tr>
    <td><%= education_organization.nameOfInstitution %></td>
    <td><%= link_to 'Show', education_organization %></td>
    <td><%= link_to 'Edit', edit_education_organization_path(education_organization) %></td>
    <td><%= link_to 'Destroy', education_organization, confirfm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Education organization', new_education_organization_path %>
