<%= javascript_include_tag :jExpand %>
<table id="simple">
	<tr>
		<% entity.first[:simple].keys.each do |header| %>
			<th><%= t(header) %></th>
		<%end%>
	</tr>
	<% entity.each do |entity| %>
	<% single = entity[:simple] %>
		<tr>
		<% single.each do |keys, value| %>
			<td><%= value %>
		<% end %>
		</tr>
		<tr >
			<td colspan=<%= "#{single.keys.size}" %>> <%= render :partial => "detail", :locals => {:entity => entity}%></td>
		</tr>
	<%end%>
</table>

<script type="text/javascript" charset="utf-8">
	jQuery(document).ready(function() {
		jQuery.noConflict();
		// jQuery('#simple').jExpand();
		jQuery("#simple tr:odd").addClass("odd");
		        jQuery("#simple tr:not(.odd)").hide();
		        jQuery("#simple tr:first-child").show();
		        
		        jQuery("#simple tr.odd").click(function(){
		            jQuery(this).next("tr").slideToggle();
		            $(this).find(".arrow").toggleClass("up");
		        });
	});
</script>