
<div id='data'>
  <h1>Welcome to the inBloom, inc. Data Browser</h1>
  <h1>Listing Home </h1>

  <% @entities.each do |e| %>
      <p><%= link_to t(e['rel']), localize_url(e['href']) %></p>
  <% end %>


      <table class="edOrg_home">


        <tr>
          <th>Ed Orgs Name</th>
          <th>EdOrgs Id</th>
          <th>EdOrgs Type</th>
          <th>EdOrgs Parent</th>
        </tr>

        <tr>
          <td><%=@edOrgHash['EdOrgs Name'] %></td>
          <td><%=@edOrgHash['EdOrgs Id']%></td>
          <td><%=@edOrgHash['EdOrgs Type']%></td>
          <td><%=@edOrgHash['EdOrgs Parent']%></td>
        </tr>

            </table>


</div>