<div id='data'>
  <h1>Listing Home </h1>
  <% @entities.each do |e| %>
      <p><%= link_to t(e['rel']), localize_url(e['href']) %></p>
  <% end %>
  <% if !@isAStudent %>
      <h2>Counts</h2>
      <table>
        <tr>
          <td>Data Point</td>
          <td># Ever Enrolled/Associated</td>
          <td># Currently Enrolled/Associated</td>
        </tr>
        <tr>
          <td>Students</td>
          <td><%=@allStudentCount%></td>
          <td><%=@currentStudentCount%></td>
        </tr>
        <tr>
          <td>Staff</td>
          <td><%=@allStaffCount%></td>
          <td><%=@currentStaffCount%></td>
        </tr>
      </table>
      <div></div>
      <table>
        <tr>
          <td>EdOrgs Name</td>
          <td>EdOrgs Id</td>
          <td>EdOrgs Type</td>
          <td>EdOrgs Parent</td>

        </tr>
        <tr>
          <td><%=link_to @userEdOrgsNameVar, @userFeederUrl  %></td>
          <td><%=@userEdOrgsIdVar%></td>
          <td><%=@userEdOrgsTypeVar%></td>
          <td><%=@userEdOrgsParentVar%></td>

        </tr>
      </table>
  <% end %>
</div>


