
<div id='data'>
  <h1>Welcome to the inBloom, inc. Data Browser</h1>
  <h1>Listing Home </h1>

  <% @entities.each do |e| %>
      <p><%= link_to t(e['rel']), localize_url(e['href']) %></p>
  <% end %>
      <table class="edOrg_home">
        <tr>
          <th>EdOrgs Name</th>
          <th>EdOrgs Id</th>
          <th>EdOrgs Type</th>
          <th>EdOrgs Parent</th>
        </tr>

        <tr>
          <td><%=link_to @userEdOrgsNameVar, @userFeederUrl  %></td>
          <td><%=@userEdOrgsIdVar%></td>
          <td><%=@userEdOrgsTypeVar%></td>
          <td><%=@userEdOrgsParentVar%></td>
        </tr>

      </table>
</div>