
<p id="notice"><%= notice %></p>
<%= render "detail" if @entity.is_a?(Hash) %>
<% if @entity.is_a?(Array) %>
<%= javascript_include_tag :jExpand %>
<table id="simple">
	<tr>
		<th>ID</th>
		<%unless @type.nil? %>
			<% @type.each do |type| %>
				<th><%= t(type.split('/').last) %></th>
			<%end%>
		<%end%>
	</tr>
	<% if @entity.is_a?(Array) %>
		<% @entity.each do |entity| %>
			<tr>
				<td><%= entity["id"]%></td>
				<% @type.each do |type| %>
				<td><%= value_for_simple_view(type, @entity) %></td>
				<% end %>
			</tr>
			<tr colspan=<%= "#{1 + @type.count}" %>>
				<td> <%= render "detail"%></td>
			</tr>
		<%end%>
	<% end %>
</table>

<script type="text/javascript" charset="utf-8">
	jQuery(document).ready(function() {
		jQuery.noConflict();
		jQuery('#simple').jExpand();
	});
</script>
<% end %>