<h2>Viewing information for <%= t(params[:type].split('-').join(' '))%> with ID: <%= params[:id]%></h2>
<p><%= link_to 'Back', :back %></p>
<% if @entity.size == 1 %>
	<%= render :partial => "detail", :locals => {:entity => @entity.first} %>
<%else%>
	<%= render :partial => "simple", :locals => {:entity => @entity} %>
<% end %>