<div>
  <div class="whitespacesm"></div>
  <% if @realm.errors.any? or @realm.idp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realm.errors.count + @realm.idp.errors.count, "error") %> prohibited this Realm from being saved:</h2>

      <ul>
      <% @realm.errors.full_messages.each do |msg| %>
        <li><%= msg.gsub /Uniqueidentifier/, "Realm Identifier" %></li>
      <% end %>
      <% @realm.idp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   	<%= f.label :name, "Display Name" %>
	    <%= f.text_field :name, :size => 50 %>

    <%= f.fields_for :idp, @realm.idp do |idp| %>
    		<%= idp.label :id, 'IDP URL <i data-placement="right" rel="tooltip" class="icon-question-sign" data-original-title="URL that identifies the federated IDP"></i>'.html_safe %>
    		<%= idp.text_field :id, :size => 50 %>

        <%= idp.label :redirectEndpoint, 'Redirect Endpoint <i data-placement="right" rel="tooltip" class="icon-question-sign" data-original-title="URL where authentication requests are sent"></i>'.html_safe %>
        <%= idp.text_field :redirectEndpoint, :size => 50 %>
    <% end %>

    <%= f.label :uniqueIdentifier, 'Realm Identifier <i data-placement="right" rel="tooltip" class="icon-question-sign" data-original-title="Used for skipping realm selection"></i>'.html_safe %>
   	<%= f.text_field :uniqueIdentifier, :size => 50 %>


  <div class="actions form-actions">
    <%= f.submit :value => "Save", :class=>"btn btn-primary" %>
    <%= link_to "Cancel", :realm_management_index, :class => "btn" %>
  </div>
</div>
<script type="text/javascript">
  $("[rel=tooltip]").tooltip();
</script> 

