<div class="page-header">
<h1>New Account Registration</h1>
</div>
<p></p>
<%= form_for(@new_account_password) do |f| %>
  <% if @new_account_password.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_account_password.errors.count, "error") %> prohibited you from setting your password</h2>

      <ul>
      <% @new_account_password.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div> 
    <% if !APP_CONFIG["is_sandbox"]&&@new_account_password.edorg!=nil&&@new_account_password.edorg!=""%>
      You've been invited to be a member of <%= @new_account_password.edorg %>. 
    <%end %>
  </div>
  <div>
    Please create a password for your your account. 
  </div> 
  <br/>
  <div class="field">
    <table>
        <tr class="field">
            <td class="form-inline"><%= f.label :new_pass ,"Password"%><span style="color:red"> *</span><br />
                <%= f.hidden_field :token, :value => @new_account_password.token %>
                <%= f.password_field :new_pass, :autocomplete => 'off' %>
            </td>
            <% if @new_account_password.errors[:new_pass].any? %>
                <td id="password_error_explanation">
                  <ul>
                  <% @new_account_password.errors[:new_pass].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
        <tr class="field">
            <td class="form-inline"><%= f.label :confirmation, "Confirm Password" %><span style="color:red"> *</span><br/>
                <%= f.password_field :confirmation, :autocomplete => 'off'  %>
             </td>
             <% if @new_account_password.errors[:confirmation].any? %>
                <td id="confirmation_error_explanation">
                  <ul>
                  <% @new_account_password.errors[:confirmation].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
    </table>
  </div>

  <% if @new_account_password.tou_required %>
    <br/>
    <div>
      <label class="checkbox">
              <%= check_box_tag "terms_and_conditions" %>
              I have read and agree to <a id="terms_and_conditions_link" data-toggle="modal" href="#tou_modal">the Shared Learning Collaborative Terms and Conditions</a>
              <div id="tou_modal" class="modal hide">
                <div class="modal-body">
                  <%= render :partial => 'eulas/eula' %>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
             </div>
      </label>
    <div>
  <% end %>

  <div class="actions">
    <br/>
    <table>
        <tr>
          <td id="SubmitButton"><%= f.submit "Submit", 
            :id => "submitForgotPasswordButton"%></td>
        </tr>
    </table>
  </div>
<% end %>

<script type="text/javascript">
    $("#new_account_password_new_pass").popover({
        html: true,
        content: "<%= APP_CONFIG['password_policy'].join("<br/>").html_safe %>",
        trigger: "focus",
        template: '<div class="popover" style="width:auto"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>'
    });
</script>