<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @teacher.name.firstName %>
</p>

<p>
  <b>Last Name:</b>
  <%= @teacher.name.lastSurname %>
</p>


<p>
  <b>Role:</b>
  <%= @teacher.type %>
</p>

<p>
  <b>Tenant:</b>
  <%= @teacher.tenantId %>
</p>


<%= link_to 'Back', teachers_path %>
