<%= form_for(@user,:html => {:class => "form-horizontal" }) do |f| %>

<script type="text/javascript" charset="utf-8">
    var is_sea = false
    var is_operator = false
    var is_lea = false
    var self_editing= false
</script>

<% if @user.errors.any? %>
        <div class="alert alert-error">
          There was an error processing your request. Please fix any highlighted fields below.
          <% error = " error" %>
          <% if flash[:edit_error]%>
              <br>
              <p id="error_notice"><%=flash[:edit_error] %></p>
          <%end%>
        </div>
    <% end %>

<fieldset>
<div class = "form-group<%=error if @user.errors[:fullName].size>0%>">
	<%= f.label :fullName, "Full Name",:class => "col-sm-2 control-label" %>
	<div class="col-sm-6">

	<%= f.text_field :fullName, :class => "form-control" %> <%=@user.errors[:fullName][0]%></label>
	</div>
</div>
</fieldset>

<fieldset>
<div class = "form-group<%=error if @user.errors[:email].size>0%>">
	<%= f.label :email, "Email",:class => "col-sm-2 control-label" %>
  <div class="col-sm-6">
	<%= f.text_field :email, :class => "form-control" %> <%=@user.errors[:email][0]%></label>
	</div>
</div>
</fieldset>

<fieldset>
<div class = "form-group">
	<%= f.label :primary_role, "Role" ,:class => "col-sm-2 control-label" %>
  <div class="col-sm-6">
	<%= f.select :primary_role, @sandbox_roles,{},:selected => user.primary_role, :class => "form-control" %>
	</div>
</div>
</fieldset>

<fieldset>
<div class = "form-group">
	<%= f.label :optinal_role_1, "Optional Permissions" ,:class => "col-sm-2 control-label" %>
  <label class="checkbox-inline">
		<% @role1_checked = true if user.optional_role_1=="Application Developer" %>
		<% @role1_disabled = true if user.primary_role == "Application Developer"%>
	<%= f.check_box :optional_role_1,{:id=> "application_developer_role",:checked => @role1_checked,:disabled=>@role1_disabled },"Application Developer" %>Application Developer
	</label>

  <label class="checkbox-inline">
		<% @role2_checked = true if user.optional_role_2=="Ingestion User" %>
		<% @role2_disabled = true if user.primary_role == "Ingestion User"%>
	<%= f.check_box :optional_role_2,{:id=>"ingestion_user_role",:checked => @role2_checked,:disabled => @role2_disabled },"Ingestion User" %>Ingestion User
	</label>
	
</div>
</fieldset>

<fieldset>
<div class = "form-group">
  <div class="col-sm-offset-2 col-sm-10">
	<%= f.submit "Update", :class => "btn btn-info"%>
	<%= link_to "Cancel", "/users",:class => "btn" %>
  </div>
</div>
</fieldset>
<% end %>



