<%= form_for(user, :html => {:class => "form-horizontal"}) do |f| %>

   <script type="text/javascript" charset="utf-8">
     var is_lea = false
     var is_operator = false
     var is_sea = false
     var self_editing= false
   </script>

<% if @user.errors.any? %>
        <div class="alert alert-error">
          There was an error processing your request. Please fix any highlighted fields below.
          <% error = " error" %>
        </div>
    <% end %>

<fieldset>
<div class = "control-group<%=error if @user.errors[:fullName].size>0%>">
	<%= f.label :fullName, "Full Name",:class => "control-label" %>
	<div class="controls">
	<label style="color:#B94A48;" >
	<%= f.text_field :fullName %> <%=@user.errors[:fullName][0]%></label>
	</div>
</div>
</fieldset>

<fieldset>
<div class = "control-group<%=error if @user.errors[:email].size>0%>">
	<%= f.label :email, "Email",:class => "control-label" %>
	<div class="controls">
		<label style="color:#B94A48;" >
	<%= f.text_field :email %> <%=@user.errors[:email][0]%></label>
	</div>
</div>
</fieldset>


<fieldset>
<div class = "control-group">
	<%= f.label :primary_role, "Role" ,:class => "control-label" %>
	<div class="controls">
	<%= f.select :primary_role, @sandbox_roles,{},:selected => user.primary_role %>
	</div>
</div>
</fieldset>

<fieldset>
<div class = "control-group">
	<%= f.label :optinal_role_1, "Optional Permissions" ,:class => "control-label" %>
	<div class="controls">
	<label class="checkbox">
	<% @role1_checked = true if user.optional_role_1=="Application Developer" %>
	<% @role1_disabled = true if user.primary_role == "Application Developer"%>
	<%= f.check_box :optional_role_1,{:id=> "application_developer_role",:checked => @role1_checked,:disabled=>@role1_disabled},"Application Developer" %>Application Developer
	</label>
	</div>
	<div class="controls">
	<label class="checkbox">
		<% @role2_checked = true if user.optional_role_2=="Ingestion User" %>
		<% @role2_disabled = true if user.primary_role == "Ingestion User"%>
	<%= f.check_box :optional_role_2,{:id=>"ingestion_user_role",:checked => @role2_checked,:disabled=>@role2_disabled},"Ingestion User" %>Ingestion User
	</label>
	</div>
	
</div>
</fieldset>

<fieldset>
<div class = "form-actions">
	<%= f.submit "Save", :class => "btn btn-info",:style=>"margin-left:60px" %>
	<%= link_to "Cancel", "/users",:class => "btn" %>
</div>
</fieldset>
<% end %>

