<div class="page-header">
    <% if APP_CONFIG['is_sandbox'] %>
        <h1>Sandbox Account Management</h1>
    <% else %>
        <h1>User Management</h1>
    <% end %>
</div>
<p></p>
<h4>Manage users that have access to your <% if APP_CONFIG['is_sandbox'] %>Sandbox<% else %>Production<% end %> environment.</h4>
<p>&nbsp;</p>

  <p id="Search_Box">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  
<p id="error_notice"><%= @error_notice %></p>
<p id="success_notice"><%= @success_notice %></p>

<table id="Users_Management_Table" class="table table-striped">
  <thead>
    <tr>
        <th id="full_name">Full Name</th>
        <th id="email">Email</th>
        <th id="role">Role</th>
        <% if not APP_CONFIG['is_sandbox'] %>
            <th id="additional_role">Additional Role</th>
            <th id="tenant">Tenant</th>
        <% end %>
        <th id="edorg">EdOrg</th>
        <th id="date_created">Date Created</th>
        <th id="Actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% if @users!=nil and @users.length>0%>
        <% @users.each do |user| %>
        <tr id='<%= user.uid%>'>
        <td id="<%= user.firstName%> <%= user.lastName%>_full_name"><%= user.firstName%> <%= user.lastName%></td>
        <td id="<%= user.firstName%> <%= user.lastName%>_email"><%= user.email%></td>
        <td id="<%= user.firstName%> <%= user.lastName%>_role"> <%= user.get_groups%></td>
        <% if not APP_CONFIG['is_sandbox'] %>
            <td id="additional_role"+<%= user.uid%>></td>
            <td id="tenant"+<%= user.uid%>><%= user.tenant%></td>
        <% end %>
        <td id="<%= user.firstName%> <%= user.lastName%>_edorg"><% if user.edorg!=nil%><%else%><%=user.edorg%><%end%></td>
        <td id="<%= user.firstName%> <%= user.lastName%>_date_created"><%= I18n.localize(user.get_create_time)%></td>
		<td id="<%= user.firstName%> <%= user.lastName%>_actions" class="actions">
			<button id="<%= user.firstName%> <%= user.lastName%>_edit" type="button" class="btn" ><%= link_to_if true, "Edit", "/users" %></button> | 
            <button id="<%= user.firstName%> <%= user.lastName%>_delete" type="button"  class="btn btn-danger" <% if @loginUserId == user.uid%> disabled="disabled" <%end%> ><%= link_to_if @loginUserId !=user.uid, 'Delete', "/users/#{user.uid}", :remote => true,
                :confirm => "Do you really want to delete this user?", :method => :delete,:style=>'color:white;' %></button>
        </td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
</table>

<br/>

<%= form_for "" do |f| %>
<%= f.submit "Add User", :id => "adduser", :class => "btn btn-primary"%>
<% end %>
