<div class="page-header">
    <% if APP_CONFIG['is_sandbox'] %>
        <h1>Sandbox Account Management</h1>
    <% else %>
        <h1>Manage Administrator Accounts</h1>
    <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  var is_lea = <%= @is_lea%> 
  var is_operator = <%= @is_operator%> 
  var is_sea = <%= @is_sea%> 
  var my_edorg = '<%= @login_user_edorg_name -%>'
  var self_editing = false

  $(document).ready(function() {

    if (self_editing && is_operator) {
      $("#roles_edorg_block").hide()
    }

    if (self_editing && (is_lea || is_sea)) {
      $("#primary_role_block").hide()
    }

    if (is_sandbox) {
      $("#user_primary_role").change(function() {
          if($("#user_primary_role option:selected").attr("value")== "Sandbox Administrator") {
          	 $("#ingestion_user_role").removeAttr("disabled");
          	 $("#application_developer_role").removeAttr("disabled");
            }
            else if($("#user_primary_role option:selected").attr("value")== "Application Developer") {
          	  $("#application_developer_role").attr("disabled","disabled").attr("checked",false);
          	  $("#ingestion_user_role").removeAttr("disabled");
            } else {
          	  $("#ingestion_user_role").attr("disabled","disabled").attr("checked",false);
          	  $("#application_developer_role").removeAttr("disabled");
            }
          });

    } else {
  	  $("#user_primary_role").change(function() {
  	        if($("#user_primary_role option:selected").attr("value")== "SLC Operator") {
  	        	 $("#ingestion_user_role").attr("disabled", "disabled").attr("checked",false);
  	        	 $("#realm_administrator_role").attr("disabled", "disabled").attr("checked",false);
  	        	 $("#user_tenant").attr("disabled", "disabled").val("");
  	        	 $("#user_edorg").attr("disabled", "disabled").val("");
  	          } else if($("#user_primary_role option:selected").attr("value")== "SEA Administrator"
                                  || $("#user_primary_role option:selected").attr("value")== "LEA Administrator") {
  	        	     $("#ingestion_user_role").removeAttr("disabled")
  		        	 $("#realm_administrator_role").removeAttr("disabled")
  		        	 $("#user_tenant").removeAttr("disabled");
  		        	 $("#user_edorg").removeAttr("disabled");
  	          } else if($("#user_primary_role option:selected").attr("value")== "Ingestion User"){
  	        	  $("#ingestion_user_role").attr("disabled","disabled").attr("checked",false);
  	        	  $("#realm_administrator_role").removeAttr("disabled")
  		          $("#user_tenant").removeAttr("disabled");
  		          $("#user_edorg").removeAttr("disabled");
                    if(is_lea) {
  	        	    $("#user_edorg option[value=\"" +my_edorg+ "\"]").removeAttr("disabled").text(my_edorg);
                    }
  	          } else if($("#user_primary_role option:selected").attr("value")== "Realm Administrator"){
  	        	  $("#realm_administrator_role").attr("disabled","disabled").attr("checked",false);
  	        	  $("#ingestion_user_role").removeAttr("disabled")
  		          $("#user_tenant").removeAttr("disabled");
  		          $("#user_edorg").removeAttr("disabled");
  	          }
  	  });
    };

  })

</script>

<% if flash[:notice]%>  
<p id="notice"><%= flash[:notice] %></p>
<%end%>
<% if flash[:error]%>
<p id="error_notice"><%=flash[:error] %></p>
<%end%>

<table id="Users_Management_Table" class="table table-striped">
  <thead>
    <tr>
        <th id="full_name">Full Name</th>
        <th id="email">Email</th>
        <th id="roles">Roles</th>
        <% if not APP_CONFIG['is_sandbox'] %>
            <th id="tenant">Tenant</th>
        <% end %>
        <th id="edorg">Education Organization</th>
        <th id="date_created">Date Created</th>
        <th id="Actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% if @users!=nil and @users.length>0%>
        <% @users.each do |user| %>
        <%@elementIdPrefix= user.fullName.strip %>
        <tr id='<%= user.uid%>'>
        <td id="<%= @elementIdPrefix%>_full_name"><%= user.fullName%></td>
        <td id="<%= @elementIdPrefix%>_email"><%= user.email%></td>
        <td id="<%= @elementIdPrefix%>_role"><%= user.get_groups%></td>
        <% if not APP_CONFIG['is_sandbox'] %>
            <td id="<%= @elementIdPrefix%>_tenant"><%= user.tenant%></td>
        <% end %>
        <td id="<%= @elementIdPrefix%>_edorg"><% if user.edorg==nil|| user.edorg=="null"%><%else%><%=user.edorg%><%end%></td>
        <td id="<%= @elementIdPrefix%>_date_created"><%= user.get_create_time.in_time_zone().strftime("%c %Z")%></td>
		<td id="<%= @elementIdPrefix%>_actions" class="actions">
            <div class="btn-group">
                <%@deleteButtonId = @elementIdPrefix + "_delete"%>
                <%@editButtonId = @elementIdPrefix + "_edit"%>
                                <%= link_to "Edit", "/users/#{user.uid}/edit", :method=> :get ,:class=>"btn btn-info", :id => @editButtonId %> 
                            <% if @loginUserId == user.uid %> 
                                <button id="<%= @elementIdPrefix%>_delete" type="button" class= "btn" disabled="disabled"><i class="icon-trash"></i></button>
                            <%else%>
                                <%= link_to '<i class="icon-trash"></i>'.html_safe, "/users/#{user.uid}",
                                    :confirm => "Do you really want to delete this user?", :method => :delete,:class=>"btn",:id => @deleteButtonId%>
                                
                            <%end%> 
            </div>
        </td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
</table>

<br/>
<div class="form-actions">
    <%= link_to "Add User", "/users/new", :class => "btn btn-info", :style => "color:white;"%>
</div>
