<div class="page-header">
    <% if APP_CONFIG['is_sandbox'] %>
        <h1>Sandbox Account Management</h1>
    <% else %>
        <h1>Manage Administrator Accounts</h1>
    <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  var is_lea = <%= @is_lea%> 
  var is_operator = <%= @is_operator%> 
  var is_sea = <%= @is_sea%> 
  var my_edorg = '<%= @login_user_edorg_name -%>'
  var self_editing = false
</script>

<% if flash[:notice]%>  
<p id="notice"><%= flash[:notice] %></p>
<%end%>
<% if flash[:error]%>
<p id="error_notice"><%=flash[:error] %></p>
<%end%>

<table id="Users_Management_Table" class="table table-striped">
  <thead>
    <tr>
        <th id="full_name">Full Name</th>
        <th id="email">Email</th>
        <th id="roles">Roles</th>
        <% if not APP_CONFIG['is_sandbox'] %>
            <th id="tenant">Tenant</th>
        <% end %>
        <th id="edorg">Education Organization</th>
        <th id="date_created">Date Created</th>
        <th id="Actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% if @users!=nil and @users.length>0%>
        <% @users.each do |user| %>
        <%@elementIdPrefix= user.fullName.strip %>
        <tr id='<%= user.uid%>'>
        <td id="<%= @elementIdPrefix%>_full_name"><%= user.fullName%></td>
        <td id="<%= @elementIdPrefix%>_email"><%= user.email%></td>
        <td id="<%= @elementIdPrefix%>_role"><%= user.get_groups%></td>
        <% if not APP_CONFIG['is_sandbox'] %>
            <td id="<%= @elementIdPrefix%>_tenant"><%= user.tenant%></td>
        <% end %>
        <td id="<%= @elementIdPrefix%>_edorg"><% if user.edorg==nil|| user.edorg=="null"%><%else%><%=user.edorg%><%end%></td>
        <td id="<%= @elementIdPrefix%>_date_created"><%= I18n.localize(user.get_create_time)%></td>
		<td id="<%= @elementIdPrefix%>_actions" class="actions">
            <div class="btn-group">
                <%@deleteButtonId = @elementIdPrefix + "_delete"%>
                <%@editButtonId = @elementIdPrefix + "_edit"%>
                                <%= link_to "Edit", "/users/#{user.uid}/edit", :method=> :get ,:class=>"btn btn-info", :id => @editButtonId %> 
                            <% if @loginUserId == user.uid %> 
                                <button id="<%= @elementIdPrefix%>_delete" type="button" class= "btn" disabled="disabled"><i class="icon-trash"></i></button>
                            <%else%>
                                <%= link_to '<i class="icon-trash"></i>'.html_safe, "/users/#{user.uid}",
                                    :confirm => "Do you really want to delete this user?", :method => :delete,:class=>"btn",:id => @deleteButtonId%>
                                
                            <%end%> 
            </div>
        </td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
</table>

<br/>
<div class="form-actions">
    <%= link_to "Add User", "/users/new", :class => "btn btn-info", :style => "color:white;"%>
</div>
