    <tr>
      <td><%= @apps_map[@app_auth.appId].name %><% if @apps_map[@app_auth.appId].registration.status != 'APPROVED' %>
          <div class="alert">Application has been denied by operator</div>
        <% end %><% if @apps_map[@app_auth.appId].isBulkExtract %>
          <div class="alert alert-info">Bulk Extract application request</div>
        <% end %>
      </td>
      <td><%= @apps_map[@app_auth.appId].version  %></td>
      <td><%= @apps_map[@app_auth.appId].vendor %></td>
      <%=
          isApproved = @app_auth.authorized
	  isEnabled = @edorg_apps.has_key?(@cur_edorg) && @edorg_apps[@cur_edorg].has_key?(@app_auth.appId)
          if isApproved
            content_tag(:td, "Approved", :id => "approvedStatus")
          elsif isEnabled
            content_tag(:td, "Not Approved", :id => "notApprovedStatus")
          else
            content_tag(:td, "Not Enabled By Developer", :id => "notEnabledStatus")
          end
      %>
      <td><%=
          form_for @app_auth do |f|
          %>
            <%= f.hidden_field :appId, :value => @app_auth.appId %>
            <%= f.hidden_field :edorg, :value => @cur_edorg %>
            <%= f.submit "Approve", :disabled => !@isSEAAdmin || isApproved,
                         :confirm => "Do you really want this application to access the education organization's data?'", :class=>"btn" %>
            <%= f.submit "Deny", :disabled => !@isSEAAdmin || !isApproved,
                :confirm => "Do you really want to deny the education organization's data to this application?", :class=> "btn btn-danger"%>
          <% end %>
      </td>
    </tr>
