<table id="AuthorizedAppsTable_<%= @application_authorization.authId  %>" class="AuthorizedAppsTable">
  <tr><th colspan=5>
    <h1>District - <%= @application_authorization.authId %></h1>
  </th>


  </tr>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Vendor</th>
    <th>Status</th>
    <th> </th>
  </tr>
<%
    apps = App.all

    #The reason map is being used is to put the apps in the order that they were authorized
    authorizedApps = @application_authorization.appIds.map{|appId| apps.detect{|app| app.id == appId }}
    unauthorizedApps = apps.select {|app| @application_authorization.appIds.find_index(app.id) == nil}
    apps = authorizedApps + unauthorizedApps
    apps.each do |app|
%>
    <tr>
      <% if app == nil
            next
         end
      %>
      <td><%= app.name %></td>
      <td><%= app.version  %></td>
      <td><%= app.vendor %></td>
      <%=
          isApproved = false
          if @application_authorization.appIds.find_index(app.id) != nil
                isApproved = true
                content_tag(:td, "Approved", :id => "approvedStatus")
          else
                content_tag(:td, "Not Approved", :id => "notApprovedStatus")
          end
      %>
      <td><%=
          form_for @application_authorization do |f|
          %>
            <%= f.hidden_field :authId, :value => @application_authorization.authId %>
            <%= f.hidden_field :appId, :value => app.id %>
            <%= f.submit "Approve", :disabled => isApproved,
                         :confirm => "Do you really want this application to access the district's data?'" %>
            <%= f.submit "Deny", :disabled => !isApproved,
                :confirm => "Do you really want to deny the district's data to this application?"%>
          <% end %>
      </td>
    </tr>
    <%end %>
  </table>
