<h1>Approve Applications</h1>
<h6>Allow applications to access the platform</h6>

<!-- application_authorizations -->
<p id="notice"><%=
    if notice != nil
        "Application was successfully updated"
    elsif notice != nil
      notice
    end
%></p>

<% if @edorgs.length == 0 %>
    <h3 id='notApprovedStatus'>You are not authorized to make application authorizations</h3>
<% else %>
    <h3>Please approve inBloom applications to access the district's data</h3>
<% end %>
<% if @edorgs.length > 1 %>
    <select id="districtSelection">
        <% @edorgs.each do |cur| %>
            <option value="<%= cur %>" <%= "selected='selected'" if notice == cur %>><%= EducationOrganization.find(cur).nameOfInstitution %></option>
        <% end %>
    </select>
<% end %>


<% @edorgs.each do |edorg| %>
<h1>District - <%= EducationOrganization.find(edorg).nameOfInstitution %></h1>
<table id="AuthorizedAppsTable_<%= edorg  %>" class="AuthorizedAppsTable table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Vendor</th>
    <th>Status</th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
    <% @application_authorizations[edorg].each do |app_auth| %>
    <% @cur_edorg = edorg %>
    <% @app_auth = app_auth
       next if @apps_map[app_auth.appId] == nil
    %>
    <%= render 'form'%>
  <% end %>
<% end %>
<script type="text/javascript" charset="utf-8">
    $("select").change(function(){
        $("select option:selected").each(function(){
            $("table").hide();
            $("h1").hide();
            <!--Now figure out how to get an h1 tag in jQuery by its text.  -->
            $("h1:contains('" + $(this).text() + "')").show();
            $("#AuthorizedAppsTable_" + $(this).attr('value')).show();
       });
     }).change();

</script>
<br />

