<!-- application_authorizations -->

<% names = @application_authorizations.map{|auth| auth.authId} %>
<p id="notice"><%=
    if notice != nil and names.member?(notice)
        "Application was successfully updated"
    elsif notice != nil
      notice
    end
%></p>


<% if @application_authorizations.length == 0 %>
    <h3 id='notApprovedStatus'>You are not authorized to make application authorizations</h3>
<% else %>
    <h3>Please approve SLI applications to access the district's data</h3>
<% end %>
<% if @application_authorizations.length > 1 %>
    <select id="districtSelection">
        <% names.each do |cur| %>
            <option value="<%= cur %>" <%= "selected='selected'" if notice == cur %>><%= cur %></option>
        <% end %>
    </select>
<% end %>


<% @application_authorizations.each do |application_authorization| %>
    <% @application_authorization = application_authorization %>
    <%= render 'form' %>
<% end %>
<script type="text/javascript" charset="utf-8">
    $("select").change(function(){
        $("select option:selected").each(function(){
            $("table").hide();
            $("h1").hide();
            <!--Now figure out how to get an h1 tag in jQuery by its text.  -->
            $("h1:contains('" + $(this).text() + "')").show();
            $("#AuthorizedAppsTable_" + $(this).text()).show();
       });
     }).change();

</script>
<br />

