  <h2>Map Roles for <%=@realm.name%></h2>
  <h4>Assign your client roles to the appropriate SLC roles</h4>

  <script type="text/javascript">

  //initial data for table
  var rMap = getTableData(<%= @realm.mappings.to_json.html_safe %>);

  //intial sorting -- 1 == desc, -1 = asc
  var sortOrder = [1,1];

  //which column to sort by 
  var sortCol = 0; 

  sortTable(rMap, sortCol, sortOrder[sortCol]);
  var SLI_ROLES = <%= @sli_roles.to_json.html_safe %>;
  var UPDATE_URL = '<%= url_for(:action=>"update") %>'
  </script>

  <%=javascript_tag "$(document).ready(function() {initRealmEdit();});"%>

  <p/>
  <table cellpadding="0">
   <tr>
   <td>
   <label>SLC Roles</label>
   <div class="control-group" style="background-color: #ebebeb; padding: 10px">
      <div class="controls">
        <% @sli_roles.each do |role| %>
          <label class="radio">
          <%= radio_button_tag 'role', role %>
          <%= role %>
          </label>
          <% end %>
      </div>
   </div>
   </td>
   <td>
     <%= image_tag "right_arrow.png" %>
   </td>
   <td>
     <div class="control-group">
       <label class="control-label" for="clientRole" style="display: inline;">Assign to Client Role:</label>
       <div class="controls">
         <div class="input-append">
           <input id="clientRole" class="input-medium"/>
           <button id="addButton" class="btn" type="button">Add</button>
           <p/>
         </div>
       </div>
     </div>
    </td>
    </tr>
  </table>
  <!--/form-->

  <table class="table table-striped">
    <thead>
      <tr>
        <th id="cRole">Client
        role
        <span>
          <i class="icon-chevron-up sort_asc" style="display: none"></i>
          <i class="icon-chevron-down sort_desc"></i>
        </span>
        </th>

        <th id="sRole">SLC role
        <span>
          <i class="icon-chevron-up sort_asc" style="display: none"></i>
          <i class="icon-chevron-down sort_desc"></i>
        </span>
        </th>
      </tr>
    </thead>

    <tbody id="mTable"></tbody>
  </table>

  <div>
    <button id="resetButton" class="btn btn-warning">Reset to default</button>
  </div>
  </br>
  <div>
    <%= link_to 'Done', realms_path, :class=>"btn" %>
  </div>
