  <h2>Editing role mappings for <%=@realm.state%></h2>

  <script type="text/javascript">

  //initial data for table
  var rMap = getTableData(<%= @realm.mappings.to_json.html_safe %>);

  //intial sorting -- 1 == desc, -1 = asc
  var sortOrder = [1,1];

  //which column to sort by 
  var sortCol = 0; 

  sortTable(rMap, sortCol, sortOrder[sortCol]);
  var SLI_ROLES = <%= @sli_roles.to_json.html_safe %>;
  var UPDATE_URL = '<%= url_for(:action=>"update") %>'

  $(document).ready(function() {
    initRealmEdit();
  });

  </script>

  <table>
    <tr>
      <td valign="top">
      <%= label_tag "clientRole", "Client role" %><input id=
      "clientRole"></td>

      <td valign="top">
        <% @sli_roles.each do |role| %>

        <div>
          <%= radio_button_tag 'role', role %><%= label_tag "role_#{role}", role %>
        </div><% end %>
      </td>

      <td valign="top"><button id="addButton">Add</button></td>
    </tr>
  </table>

  <table>
    <thead>
      <tr>
        <th id="cRole" style="text-decoration: underline">Client
        role
        <span><%= image_tag "sort_asc.png", :class => 'sort_asc', :style => 'display: none' %>
        <%= image_tag "sort_desc.png", :class => 'sort_desc' %></span></th>

        <th id="sRole" style="text-decoration: underline">SLI role
        <span><%= image_tag "sort_asc.png", :class => 'sort_asc', :style => 'display: none' %>
        <%= image_tag "sort_desc.png", :class => 'sort_desc', :style => 'display: none' %></span></th>
      </tr>
    </thead>

    <tbody id="mTable"></tbody>
  </table>

  <div>
    <button id="resetButton">Reset to defaults</button>
  </div>

<%= link_to 'Back', realms_path %>
