<script>
//	var roles = <%= Role.all.to_json.html_safe %>
var rMap = getTableData(<%= @realm.mappings.to_json.html_safe %>);
</script>
<%=javascript_tag "$(document).ready(function() {drawTable(rMap, false);});"%>

<h1>Map Roles for <%=@realm.name%></h1>
<h6>Assign your client roles to the appropriate SLC roles</h6>
<table class="table table-striped">
        <thead><tr>
          <th id="srole">SLC Role</th>
          <th id="crole">Client Role</th>
        </tr></thead>
        <tbody id="mTable"></tbody>
</table>

<%= link_to 'Edit', edit_realm_path(@realm), :class => "btn" %>
<!--
don't need this since they'll just get redirected back here
<%= link_to 'Done', realms_path, :class=>"btn" %>
-->
