<%= form_for(@change_password) do |f| %>
  <% if notice != nil %>
    <ul style="color:green">
      <li id="successNotice"><%= notice %></li>
    </ul>
  <% end %>
  <% if @change_password.errors.any? %>
    <div id="error_explanation">
      <h2 id="errorCountNotifier"><%= pluralize(@change_password.errors.count, "error") %> prevented your password change attempt.</h2>
      <br>
      <br>
      <ul>
        <% @change_password.errors[:base].each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  <% end %>
  
  <div class="field">
    <table>
        <tr class="field">
            <td class="form-inline"><%= f.label :old_pass ,"Old Password"%><span style="color:red"> *</span><br />
                <%= f.password_field :old_pass %>
            </td>
            <% if @change_password.errors[:old_pass].any? %>
                <td id="error_explanation">
                  <ul>
                  <% @change_password.errors[:old_pass].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
        <tr class="field">
            <td class="form-inline"><%= f.label :new_pass ,"New Password"%><span style="color:red"> *</span><br />
                <%= f.password_field :new_pass %>
            </td>
            <% if @change_password.errors[:new_pass].any? %>
                <td id="error_explanation">
                  <ul>
                  <% @change_password.errors[:new_pass].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
        <tr class="field">
            <td class="form-inline"><%= f.label :confirmation, "Confirm New Password" %><span style="color:red"> *</span><br/>
                <%= f.password_field :confirmation %>
             </td>
             <% if @change_password.errors[:confirmation].any? %>
                <td id="error_explanation">
                  <ul>
                  <% @change_password.errors[:confirmation].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
    </table>
  </div>
  <div class="actions">
    <br/>
    <table>
        <tr>
          <td id="SubmitButton"><%= f.submit "Submit", 
            :id => "submitChangePasswordButton"%></td>
          <td id="CancelLink"></td>
        </tr>
    </table>
  </div>
<% end %>

