<%= form_for(@change_password, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>

    <% if @change_password.errors.any? %>
        <div id="error_explanation">
          <p id="errorCountNotifier"><%= pluralize(@change_password.errors.count, "error") %> prevented your password
            change attempt.</p>
        </div>
        <ul>
          <% @change_password.errors[:base].each do |msg| %>
              <li style="list-style: none"><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <div class="form-group">
      <%= f.label :old_pass, "Old Password", :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.password_field :old_pass, :type => 'text', :autocomplete => 'off', :class => "form-control" %>
      </div>
      <% if @change_password.errors[:old_pass].any? %>
          <span class="help-block col-sm-6">
              <ul>
                <% @change_password.errors[:old_pass].each do |msg| %>
                    <li style="list-style: none"><%= msg %></li>
                <% end %>
              </ul>
          </span>
      <% end %>

    </div>

    <div class="form-group">
      <%= f.label :new_pass, "New Password", :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.password_field :new_pass, :autocomplete => 'off', :type => 'text', :class => "form-control" %>
      </div>
      <% if @change_password.errors[:new_pass].any? %>
          <span class="help-block col-sm-6">
              <ul>
                <% @change_password.errors[:new_pass].each do |msg| %>
                    <li style="list-style: none"><%= msg %></li>
                <% end %>
              </ul>
          </span>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :confirmation, "Confirm New Password", :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.password_field :confirmation, :autocomplete => 'off', :type => 'text', :class => "form-control" %>
      </div>
      <% if @change_password.errors[:confirmation].any? %>
          <span class="help-block col-sm-6">
              <ul>
                <% @change_password.errors[:confirmation].each do |msg| %>
                    <li style="list-style: none"><%= msg %></li>
                <% end %>
              </ul>
          </span>
      <% end %>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Submit", :id => "submitChangePasswordButton", :class => "btn btn-info" %>
      </div>
    </div>

<% end %>