<!DOCTYPE html>
<html>
  <head>
    <title>SLI Data Browser</title>
	<%= stylesheet_link_tag    "application" %>
 	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  </head>
  <body>
    <div class="header">
		<p>
			<span style="float:left; color:#f00;">
				<h1 style="display:inline">SLI Data Browser</h1>
				<h4 style="display:inline;"><i>version: PI 3, Sprint 2</i></h4>
			</span>
			<span style="float:right; ">
				<h1 style="display:inline"></h1>
				<h4 style="display:inline;">Hello <%= session[:full_name] %> | Home | <%= link_to 'Logout', '/logout'  %> </h4>
			</span> 
		</p>
	</div>
	<hr>
	<div id="content">
		<%= yield %>
	</div>
	<div id="left-bar">
	</div>
	<div id="footer">
	</div>

  </body>
</html>
