<!DOCTYPE html>
<html>
  <head>
    <title>inBloom Data Browser</title>
	<%= stylesheet_link_tag    "application" %>
 	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <div id="portal">
          <%= @header.gsub(/\[\$USER_NAME\$\]/, session[:full_name]).html_safe unless @header.nil? || session[:full_name].nil? %>
        </div>
        <div class="pageTitle">
          <div class="left">
            <h1><%=link_to "data browser", :root%></h1>
          </div>
          <div class="right">
            <% if @header.nil? %>
              <h4 style="display:inline;">Hello <%= session[:full_name] %> | <%= link_to 'Home', :root %> | <%= link_to 'Logout', '/logout'  %> </h4>
            <% end %>
            <div class="search">
              <%= render 'entities/search'%>
            </div>
          </div>
        </div>
      </div>
    	<div id="content">
    		<%- flash.each do |key, msg| -%>
    		  <div id="alert" class="alert alert-<%= key %>">
    		    <button type="button" class="close" data-dismiss="alert">×</button>
    		    <strong><%= msg %></strong>
    		  </div>
    		<%- end -%>
		
    		<%= yield %>
    	</div>
    	<div id="left-bar">
    	</div>
	  </div>
    <div class="clear"></div>
    <div id="footer">
        <%=  raw @footer unless @footer.nil? %>
    </div>
  </body>
</html>
