<% def require_marker %>
<% "<span style=\"color:red\">*</span>" %>
<% end %>


<% if @user_account_registration.errors.any? %>
    <div class="alert alert-error">
      There was an error processing your registration. Please fix any highlighted fields below.
      <% error = " error" %>
    </div>
<% end %>

<%= form_for(@user_account_registration, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>

    <div class="form-group<%=error if @user_account_registration.errors[:firstName].size>0%>">
      <%= f.label :firstName, "First Name #{require_marker}".html_safe, :class => "col-sm-2 control-label"%>
      <div class="col-sm-6">
        <%= f.text_field :firstName, :type => "text", :class => "form-control" %> <%=@user_account_registration.errors[:firstName][0]%>
      </div>
    </div>

    <div class="form-group<%=error if @user_account_registration.errors[:lastName].size>0%>">
      <%= f.label :lastName, "Last Name#{require_marker}".html_safe, :class => "col-sm-2 control-label"%>
      <div class="col-sm-6">
        <%= f.text_field :lastName, :type => "text", :class => "form-control" %> <%=@user_account_registration.errors[:lastName][0]%>
      </div>
    </div>

    <div class="form-group<%=error if @user_account_registration.errors[:vendor].size>0%>">
      <%= f.label :vendor, "Company#{require_marker}".html_safe, :class => "col-sm-2 control-label"%>
      <div class="col-sm-6">
        <%= f.text_field :vendor, :type => "text", :class => "form-control" %> <%=@user_account_registration.errors[:vendor][0]%>
      </div>
    </div>

    <div class="form-group<%=error if @user_account_registration.errors[:email].size>0%>">
      <%= f.label :email, "Email#{require_marker}".html_safe, :class => "col-sm-2 control-label"%>
      <div class="col-sm-6">
        <%= f.email_field :email, :type => "text", :class => "form-control" %> <%=@user_account_registration.errors[:email][0]%>
      </div>
    </div>

    <div class="form-group<%=error if @user_account_registration.errors[:password].size>0%>">
      <%= f.label :password, "Password#{require_marker}".html_safe, :class => "col-sm-2 control-label"%>
      <div class="col-sm-6">
        <%= f.password_field :password, :class => "form-control" %> <%=@user_account_registration.errors[:password][0]%>
      </div>
    </div>

    <div class="form-group<%=error if @user_account_registration.errors[:confirmation].size>0%>">
      <%= f.label :confirmation, "Re-enter Password#{require_marker}".html_safe, :class => "col-sm-2 control-label"%>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, :class => "form-control" %> <%=@user_account_registration.errors[:confirmation][0]%>
      </div>
    </div>
      <%# recaptcha section %>
      <% if APP_CONFIG['recaptcha_disable'] == true %>
          <span style="color:red; font-weight:bold;">Captcha validation is disabled to allow automated testing.</span>
      <% end %>
      <% error = " error" if @user_account_registration.errors[:recaptcha].any? %>
      <%= tag("div", :class => "control-group#{error}") %>
      <div class="controls">
        <%= get_captcha(:options => {:theme => 'white', :tabindex => increment_counter, :lang => 'en'}, :ssl => 'true').html_safe %>
      </div>
      <% if @user_account_registration.errors[:recaptcha].any? %>
            <span class="help-inline">
				<%= @user_account_registration.errors[:recaptcha][0] %>
			</span>
      <% end %>
      </div>
      <div style="margin-bottom:10px;margin-top:10px;font-style:italic;font-size:12px" >
        <b>Note:</b> in order to complete the registration process, you will be required to accept the
        <a style="text-decoration:underline" href=<%=APP_CONFIG['terms_url'] %> target="_blank">Terms of Use</a> and
        <a style="text-decoration:underline" href=<%= APP_CONFIG['privacy_policy_url']%> target="_blank">Privacy Policy</a><br/>
      </div>

      <div class="form-actions">
        <%= f.submit "Submit",
                     :id => "submitRegButton", :class => "btn btn-info"%>
        <%= link_to "Cancel", APP_CONFIG['redirect_slc_url'], :class =>"btn" %>
      </div>

<% end %>

<script type="text/javascript">
    $("#user_account_registration_password").popover({
        html: true,
        content: "<%= APP_CONFIG['password_policy'].join("<br/>").html_safe %>",
        trigger: "focus",
        template: '<div class="popover" style="width:auto"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>'
    });
</script>
