<% def require_marker %>
<% "<span style=\"color:red\">*</span>" %>
<% end %>

<% def print(f, field, field_name, is_password_field, tab_index, password_field = nil, is_force_required = false) %>
    <% required = is_force_required || required?(@user_account_registration, field) %>
    <% error = "" %>
    <% if @user_account_registration.errors[field].any? %>
        <% error = " error" %>
    <% elsif is_password_field && @user_account_registration.errors[password_field].any? %>
        <% error = " error" %>
    <% end %>
    <%= tag("div", :class => "control-group#{error}") %>
    <div class="control-label">
      <%= f.label field do %>
          <% required_string = "" %>
          <% if required %>
              <% required_string = " #{require_marker}" %>
          <% end %>
          <% "#{field_name}#{required_string}".html_safe %>
      <% end %>
    </div>
    <div class="controls">
      <% if is_password_field %>
          <%= f.password_field password_field, :tabindex => tab_index, :autocomplete => 'off' %>
      <% else %>
          <% if required %>
              <%= f.text_field field, :tabindex => tab_index %>
          <% else %>
              <%= f.text_field field, :placeholder => "optional", :tabindex => tab_index %>
          <% end %>
      <% end %>

      <% if @user_account_registration.errors[field].any? %>
            <span class="help-inline">
	          <% if @user_account_registration.errors[field].size == 1 %>
	            <%= @user_account_registration.errors[field][0] %>
			  <% else %>
			     <ul>
                   <% @user_account_registration.errors[field].each_with_index do |err, i| %>
                       <%= "</ul></span><span class='help-inline'><ul>".html_safe if i > 0 && i % 2 == 0 %>
                       <li><%= err %></li>
                   <% end %>
                 </ul>
			  <% end %>
            </span>
      <% end %>
    </div>
    </div>
<% end %>

<%= form_for(@user_account_registration) do |f| %>
    <% if @user_account_registration.errors.any? %>
        <div class="alert alert-error">
          There was an error processing your registration. Please fix any highlighted fields below.
        </div>
    <% end %>
    <fieldset>
      <% print f, :firstName, "First Name", false, increment_counter %>
      <% print f, :lastName, "Last Name", false, increment_counter %>
      <% print f, :vendor, "Company", false, increment_counter %>
      <% print f, :email, "Email", false, increment_counter %>
      <% print f, :password, "Password", true, increment_counter, :password %>
      <% print f, :confirmation, "Re-enter Password", true, increment_counter, :password_confirmation, true %>
      <div style="margin-bottom: 9px;">
        <span style="color:red;">*</span> = required fields
      </div>
      <%# recaptcha section %>
      <% if APP_CONFIG['recaptcha_disable'] == true %>
          <span style="color:red; font-weight:bold;">Captcha validation is disabled to allow automated testing.</span>
      <% end %>
      <% error = " error" if @user_account_registration.errors[:recaptcha].any? %>
      <%= tag("div", :class => "control-group#{error}") %>
      <div class="controls">
        <%= get_captcha(:options => {:theme => 'white', :tabindex => increment_counter, :lang => 'en'}, :ssl => 'true').html_safe %>
      </div>
      <% if @user_account_registration.errors[:recaptcha].any? %>
            <span class="help-inline">
				<%= @user_account_registration.errors[:recaptcha][0] %>
			</span>
      <% end %>
      </div>
      <div style="margin-bottom:10px;margin-top:10px;font-style:italic;font-size:12px" >
        <b>Note:</b> in order to complete the registration process, you will be required to accept the
        <a style="text-decoration:underline" href=<%=APP_CONFIG['terms_url'] %> target="_blank">Terms of Use</a> and
        <a style="text-decoration:underline" href=<%= APP_CONFIG['privacy_policy_url']%> target="_blank">Privacy Policy</a><br/>
      </div>

      <div class="form-actions">
        <%= f.submit "Submit",
                     :id => "submitRegButton", :class => "btn btn-info"%>
        <%= link_to "Cancel", APP_CONFIG['redirect_slc_url'], :class =>"btn" %>
      </div>
    </fieldset>
<% end %>

<script type="text/javascript">
    $("#user_account_registration_password").popover({
        html: true,
        content: "<%= APP_CONFIG['password_policy'].join("<br/>").html_safe %>",
        trigger: "focus",
        template: '<div class="popover" style="width:auto"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>'
    });
</script>
