<%= form_for(@user_account_registration) do |f| %>
  <% if @user_account_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_account_registration.errors.count, "error") %> prohibited user registration from being saved:</h2>
    </div>
  <% end %>

  <div class="field">
    <table>
        <tr class="field">
            <td><%= f.label :firstName ,"First Name"%><span style="color:red"> *</span><br />
                <%= f.text_field :firstName %>
            </td>
            <% if @user_account_registration.errors[:firstName].any? %>
                <td id="error_explanation">
                  <ul>
                  <% @user_account_registration.errors[:firstName].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
        <tr class="field">
            <td><%= f.label :lastName ,"Last Name"%><span style="color:red"> *</span><br />
                <%= f.text_field :lastName %>
            </td>
            <% if @user_account_registration.errors[:lastName].any? %>
                <td id="error_explanation">
                  <ul>
                  <% @user_account_registration.errors[:lastName].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
        <tr class="field">
            <td><%= f.label :vendor %><br/>
                <%= f.text_field :vendor %>
             </td>
             <% if @user_account_registration.errors[:vendor].any? %>
                <td id="error_explanation">
                  <ul>
                  <% @user_account_registration.errors[:vendor].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
        <tr class="field">
            <td><%= f.label :email,"Email" %><span style="color:red"> *</span> This is your login ID<br />
                <%= f.text_field :email %>
            </td>
            <% if @user_account_registration.errors[:email].any? %>
            <td id="error_explanation">
              <ul>
              <% @user_account_registration.errors[:email].each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </td>
            <%end%>
        </tr>
        <tr class="field">
            <td><%= f.label :password %><span style="color:red"> *</span><br />
                <%= f.password_field :password %>
            </td>
            <% if @user_account_registration.errors[:password].any? %>
                <td id="error_explanation">
                  <ul>
                  <% @user_account_registration.errors[:password].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
         <tr class="field">
            <td><%= f.label :confirmation %><span style="color:red"> *</span><br />
                <%= f.password_field :password_confirmation %>
            </td>
            <% if @user_account_registration.errors[:confirmation].any? %>
                <td id="error_explanation">
                  <ul>
                  <% @user_account_registration.errors[:confirmation].each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </td>
            <%end%>
        </tr>
        <tr>
            <td><span style="color:red">*</span> = required fields</td>
        </tr>
    </table>
  </div>
  <div class="actions">
    <br/>
    <table>
        <tr>
          <td id="SubmitButton"><%= f.submit "Submit", 
            :id => "submitRegButton"%> or </td>
          <td id="CancelLink"><%= link_to "Cancel", APP_CONFIG['redirect_slc_url'] %></td>
        </tr>
    </table>
  </div>
<% end %>
