<%= form_for(@user_account_registration) do |f| %>
    <% if @user_account_registration.errors.any? %>
        <div class="alert alert-error">
          <%= pluralize(@user_account_registration.errors.count, "error") %> prohibited user registration from being saved:
        </div>
    <% end %>
    <fieldset>
      <% print f, :firstName, "First Name", true, false %>
      <% print f, :lastName, "Last Name", true, false %>
      <% if APP_CONFIG['is_sandbox'] %>
          <% print f, :vendor, "Company", false, false %>
      <% else %>
          <% print f, :vendor, "Company", true, false %>
      <% end %>
      <% print f, :email, "Email", true, false %>
      <% print f, :password, "Password", true, true, :password %>
      <% print f, :confirmation, "Re-enter Password", true, true, :password_confirmation %>
      <span style="color:red">*</span> = required fields
      <div class="form-actions">
        <%= f.submit "Submit",
                     :id => "submitRegButton", :class => "btn btn-primary"%>
        <%= link_to "Cancel", APP_CONFIG['redirect_slc_url'], :class =>"btn" %>
      </div>
    </fieldset>
<% end %>

<% def require_marker %>
<% "<span style=\"color:red\">*</span>" %>
<% end %>

<%# TODO: The method below is pretty ugly. Will fix when I actually figure out what I'm doing :) %>
<% def print(f, field, field_name, required, is_password_field, password_field = nil) %>
    <% error = "" %>
    <% if @user_account_registration.errors[field].any? %>
        <% error = " error" %>
    <% end %>
    <%= tag("div", :class => "control-group#{error}") %>
    <div class="control-label">
      <%= f.label field do %>
          <% required_string = "" %>
          <% if required %>
              <% required_string = " #{require_marker}" %>
          <% end %>
          <% "#{field_name}#{required_string}".html_safe %>
      <% end %>
    </div>
    <div class="controls">
      <% if is_password_field %>
          <% if required %>
              <%= f.password_field password_field %>
          <% else %>
              <%= f.password_field field, :placeholder => "optional" %>
          <% end %>
      <% else %>
          <% if required %>
              <%= f.text_field field %>
          <% else %>
              <%= f.text_field field, :placeholder => "optional" %>
          <% end %>
      <% end %>

      <% if @user_account_registration.errors[field].any? %>
            <span class="help-inline">
              <% if @user_account_registration.errors[field].size > 1 %>
                  <ul>
                    <% @user_account_registration.errors[field].each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
              <% else %>
                  <%= @user_account_registration.errors[field][0] %>
              <% end %>
            </span>
      <% end %>
    </div>
    </div>
<% end %>
