<script>
//	var roles = <%= Role.all.to_json.html_safe %>
	var rMap = getTableData(<%= @realm.mappings.to_json.html_safe %>);

$(document).ready(function() {
	drawTable(rMap, false);
});
</script>
<h1>Viewing <%=@realm.state%></h1>
<table>
        <thead><tr><th id="crole" style="text-decoration: underline">Client Role</th><th id="srole" style="text-decoration: underline">SLI Role</th></tr></thead>
        <tbody id="mTable"></tbody>
</table

<%= link_to '', edit_realm_path(@realm) %>
<%= link_to 'Edit', edit_realm_path(@realm) %> |
<%= link_to 'Back', realms_path %>
