  <h2>District <%= @edorgName  %> - Delegate District Privileges to a State Super Administrator</h2>
<div id="notice">
	<%= notice %>
</div>
  <p />
  <%= form_for(@admin_delegation) do |f| %>
    <%= f.hidden_field :localEdOrgId %>
      <table>

      <tr>
          <td><%= f.check_box :appApprovalEnabled %>    </td>
          <td class="delegationCheckbox">Approve Applications</td>
      </tr>

      <tr>
          <td><%= f.check_box :viewSecurityEventsEnabled %></td>
          <td class="delegationCheckbox">View Security Events</td>
      </tr>
      </table>
      <p />
      <div class="delegationSubmit">
        <%= f.submit "Save", :class => "btn" %>
      </div>

  <% end %>

