<% @title="Provision Landing Zone" %>
<div class="provision">
	<h1>Provision Landing-Zone</h1>
	<p>This will create a landing zone from which data for the educational organization can be imported.  It will also initialize the roles and permissions for the educational organization</p>
	<%= form_tag( url_for(:controller => 'landing_zone', :action => 'provision')) %>
		<% if not @edOrgs.empty? %>
			<% @edOrgs.each do |org| %>
				<div class="provisionBlock">
					<%= radio_button_tag 'ed_org', org.stateUniqueId, false, :class => "radioButton" %>
					<label for="ed_org_<%= org.stateUniqueId %>"><%= org.nameOfInstitution %></label>
				</div>
			<% end %>
			<div class="provisionBlock">
	                  <input id="custom" name="ed_org" type="radio" value="custom" class="radioButton" /> 
			  <label for="custom">Custom High-Level Ed-Org</label>
			  <div class="edOrgIdSelect">
			    <%= text_field_tag "custom_ed_org", nil, :placeholder => "State Organization Id"  %>
			    <label for="custom_ed_org">State organization Id of Ed Org</label>
		          </div>
			</div>
		<% else %>
			<input id="custom" type="hidden" name="ed_org" value="custom" class="radioButton" >
			<div class="provisionBlock">
			  <label>Input ID of Educational Organization</label>
			  <div class="edOrgIdSelect">
			    <%= text_field_tag "custom_ed_org", nil, :placeholder => "State Organization Id"  %>
			    <label for="custom_ed_org">State organization Id of Ed Org</label>
			  </div>
			</div>
		<% end %>
		<div class="provisionButtons">
			<input name="cancel" type="submit" value="Cancel" id="cancelButton" disabled="true", class="btn btn-danger"/>
			<input name="commit" type="submit" value="Provision" id="provisionButton", class= "btn"/>
		</div>
	</form>
</div>
