<% @title="Provision Landing Zone" %>
<% custom_ed_org_text = "Provide my own dataset" %>
<% tooltip_text =  "Enter the name of the State Organization Id of your sample State Education Agency (SEA)" %>
<% key_tooltip_text =  "You can provide a public key that will be used to securely SFTP to your landing zone. Public keys must be encrypted using RFC 4716 format. " %>
<div class="provision">
  <div class="page-header">
	<% if APP_CONFIG['is_sandbox']%><h1>Configure Your Test Data - Select a Source</h1><%else%><h1>Create a Landing Zone for your Data</h1><%end%>
  </div>
	<% if APP_CONFIG['is_sandbox']%>
		<p>Before your applications can be functional in the sandbox, you need to define which test data to use. After you have configured your test data, you will receive an email with further instructions.  Select one:</p>
	<%else%>
		<p>A Landing Zone is a directory on the SLC's server that stores and processes your organization's data.</p><p>After you have created a Landing Zone, you will be able to access it using an SFTP client. We will send you an email with information how to upload your data for ingestion into the SLC. Please click Create to continue. </p>
	<% end %>
	<%= form_tag( url_for(:controller => 'landing_zone', :action => 'provision')) %>
	    <% if APP_CONFIG['is_sandbox'] %>
		<% if not @edOrgs.empty? %>
			<% @edOrgs.each do |org| %>
				<div class="provisionBlock">
					<%= radio_button_tag 'ed_org', org.stateUniqueId, false, :class => "radioButton" %>
					<label for="ed_org_<%= org.stateUniqueId %>"><%= org.nameOfInstitution %></label>
				</div>
			<% end %>
			<div class="provisionBlock">
	                  <input id="custom" name="ed_org" type="radio" value="custom" class="radioButton" /> 
			  <label for="custom"><%= custom_ed_org_text %> <i id="tooltip" class="icon-question-sign" rel="tooltip" title="<%= tooltip_text %>"></i></label>
			  <div class="edOrgIdSelect">
			    <%= text_field_tag "custom_ed_org", nil, :placeholder => "custom_edorg"  %>
			    <label for="custom_ed_org">State organization Id of Ed Org</label>
		          </div>
			</div>
		<% else %>
			<input id="custom" type="hidden" name="ed_org" value="custom" class="radioButton" >
			<div class="provisionBlock">
			  <label><%= custom_ed_org_text %> <i id="tooltip" class="icon-question-sign" rel="tooltip" title="<%= tooltip_text %>"></i></label>
			  <div class="edOrgIdSelect">
			    <%= text_field_tag "custom_ed_org", nil, :placeholder => "custom_edorg"  %>
			    <label for="custom_ed_org">State organization Id of Ed Org</label>
			  </div>
			</div>
		<% end %>
		<% end %>
		<div class="rsaKeyBlock">
	      <label id="addKeyBtn">Add Public Key to SFTP
            <i id="key_arrow" <% if @validation_errors %>class="icon-chevron-down"<% else %>class="icon-chevron-left"<% end %>></i>
          </label>
		  <i id="key_tooltip" class="icon-question-sign" rel="tooltip" title="<%= key_tooltip_text %>" style="cursor:pointer;font-size:20px"></i>
		</div>
		<div class="controls" id="rsaKeyField" <% if !@validation_errors %>style="display: none"<% end %>>
		    
		    <div class="control-group">
		      <%= text_area_tag(:public_key) %>
		    </div>
		    
		    <% if @validation_errors %>
		      <div class="control-group error">
		        <span class="help-inline">
		          <%= @validation_errors %>
		        </span>
		      </div>
		    <% end %>
		</div>
		<div class="form-actions">
          <%#
			<input name="cancel" type="submit" value="Cancel" id="cancelButton" disabled="true" class="btn btn-danger"/>
          %>
			<input name="commit" type="submit" <% if APP_CONFIG['is_sandbox']%>value="Select"<% else %>value="Create" <%end%> id="provisionButton" class= "btn"/>
		</div>
	</form>
</div>
<script type="text/javascript">
    var is_sandbox = <%= APP_CONFIG['is_sandbox'] %>
    $("#tooltip").tooltip();
    $("#key_tooltip").tooltip();
</script>
