<% if @landingzone[:isDuplicate] %>
    <div class="page-header">
      <h1>Landing Zone Settings</h1>
    </div>
    <p>Your landing zone for <%= @landingzone[:edOrg] %> has already been provisioned.</p>
    <p>To access your landing zone, please SFTP to <%=@landingzone[:server]%> with using your SLC username and password.</p>
    <p>Please contact <%= APP_CONFIG['support_email'] %> for further questions.</p>
<% else %>
    <div class="page-header">
      <h1>
        <% if APP_CONFIG['is_sandbox'] %>
            Select Sandbox Data Source
        <% else %>
            Create a Landing Zone for your Data
        <% end %>
      </h1>
    </div>
    <%# TODO: This doesn't look *exactly* like the wireframe %>
    <div class="alert alert-success">
        <i class="icon-ok"></i> Your Landing Zone for <%= @landingzone[:edOrg] %> has been created. To access your landing zone, please SFTP to <%= @landingzone[:server] %> with using your SLC username and password.
    </div>
<% end %>

<div class="form-actions">
  <%= link_to "OK", APP_CONFIG['portal_url'], :class =>"btn btn-primary" %>
</div>