<% if @landingzone[:isDuplicate] && @landingzone[:preload]!=nil %>
    <div class="page-header">
      <h1>Select Sandbox Data Source</h1>
    </div>
    <div class="alert alert-error">
      <p>The system is currently processing your previous ingestion job and can not load the sample data you selected.
        You can check back to reload sample data once this process is complete.</p>

      <p>For support questions, contact <%= APP_CONFIG['support_email'] %></p>
    </div>
    <div class="hidden" id="alreadyProvisioned"/>
<% elsif @landingzone[:isDuplicate] %>
    <div class="page-header">
      <h1>Landing Zone Settings</h1>
    </div>
    <div class="alert alert-error">
      <p>Your landing zone for <%= @landingzone[:edOrg] %> has already been provisioned.</p>

      <p>To access your landing zone, please SFTP to <%= @landingzone[:server] %> with using your inBloom username and
        password.</p>

      <p>Please contact <%= APP_CONFIG['support_email'] %> for further questions.</p>
    </div>
    <div class="hidden" id="alreadyProvisioned"/>
<% else %>
    <div class="page-header">
      <h1>
        <% if APP_CONFIG['is_sandbox'] %>
            Select Sandbox Data Source
        <% else %>
            Create a Landing Zone for your Data
        <% end %>
      </h1>
    </div>
    <% if @landingzone[:preload]!=nil %>
        <div class="alert alert-success">
          <i class="icon-ok"></i> The system is loading the sample data set you selected. The corresponding data will become available in your Sandbox account once this process is complete. Please be aware that the time it takes for the data to load varies.<br/><br/>
          To use the SLC-provided applications (Dashboard or Data Browser), perform the following steps:<br/>
          <ol>
            <li>Go to <a href="<%= APP_CONFIG["portal_url"] %>"><%= APP_CONFIG["portal_url"] %></a>.</li>
            <li>If prompted, login to the Sandbox environment using the email address and password associated with your Sandbox account.</li>
            <li>If you have loaded one of the provided sample data sets, select the "Use a Sample User" option, and the corresponding data set you have loaded. If you have loaded your own custom data set, select "Manually Specify a User" option, and enter user and role information based on users defined in your data.</li>
            <li>To view sample data using the SLC Dashboard, select any of the available users and click "Test as this user", and launch the "SLC Dashboards" application from this emulated user’s portal home page.
            <br/>Or<br/>
            To navigate through the structure of your sample data using the Data Browser, select one of the available users who is an IT Administrator, click "Test as this user", choose the "Admin" menu, and launch the "SLC Data Browser" application, found under the "System Tools" section. Data Browser is only available with IT Administrator user role.</li>
          </ol>
          <br/>
          The first time you emulate a given user, you will be required to accept a License Agreement.
          <br/><br/>
          For support questions, contact <%= APP_CONFIG['support_email'] %>
        </div>
    <% else %>
        <div class="alert alert-success">
          <i class="icon-ok"></i> Your landing zone was successfully provisioned on <%= @landingzone[:server] %>. You
          will receive an email with further instructions about uploading the data.
          <p>For support questions, contact <%= APP_CONFIG['support_email'] %></p>
        </div>
    <% end %>
    <div class="hidden" id="successMessage"/>
<% end %>

<div class="form-actions">
  <%= link_to "OK", APP_CONFIG['portal_url'], :class =>"btn btn-info" %>
</div>


