<p id="notice"><%= notice %></p>

<h1>User Account Managements</h1>
<p>&nbsp;</p>
<table id="Account Management Table">
	<tr>
		<th>Vendor</th>
		<th>Name</th>
		<th>Approval Date</th>
		<th>Status</th>
		<th>Action</th>
	</tr>
	<% @account_managements.each do |account_management| %>
	<tr>
		<td><%= account_management.vendor%></td>
		<td><%= account_management.name%></td>
		<td><%= account_management.approvalDate%></td>
		<td id="approvedStatus"><%= account_management.status%></td>
		<td><%=
		form_for "account_managements" do |f|
		%>
		<%= f.submit "Approve",
      :confirm => "Do you really want to approve this user account?'" %>
		<%= f.submit "Reject",
      :confirm => "Do you really want to reject this user account?"%>
      <%= f.submit "Disable",
      :confirm => "Do you really want to disable this user account?"%>
		<% end %>
	</tr>
	<% end %>
</table>
<br />
<%= link_to 'New Account management', new_account_management_path %> 