<p id="notice"><%= @notice %></p>

<h1>User Account Managements</h1>
<p>&nbsp;</p>
<table id="Account_Management_Table">
	<tr>
		<th>Vendor</th>
		<th>User Name</th>
		<th>Last Update</th>
		<th>Status</th>
		<th>Action</th>
	</tr>
	<% @account_managements.each do |account_management| %>
	<tr>
		<td><%= account_management.vendor%></td>
		<td><%= account_management.name%></td>
		<td><%= account_management.lastUpdate%></td>
		<% if account_management.status == "Approved"%>
		<td id="approvedStatus"><%= account_management.status%></td>
		<% elsif account_management.status == "Pending"%>
		<td id="pendingStatus"><%= account_management.status%></td>
		<% elsif account_management.status == "Rejected"%>
		<td id="rejectedStatus"><%= account_management.status%></td>
		<% elsif account_management.status == "Disabled"%>
		<td id="disabledStatus"><%= account_management.status%></td>
		<% end%>
		<td><%=
		form_for "" do |f|
		%>
		<%= f.hidden_field "email", :value => account_management.email %>
		<%= f.submit "Approve",:disabled => (account_management.transitions.index("approve")==nil),
      :confirm => "Do you really want to approve this user account?'" %>
		<%= f.submit "Reject",:disabled => (account_management.transitions.index("reject")==nil),
      :confirm => "Do you really want to reject this user account?"%>
      <%= f.submit "Disable",:disabled => (account_management.transitions.index("disable")==nil),
      :confirm => "Do you really want to disable this user account?"%>
      <%= f.submit "Enable",:disabled => (account_management.transitions.index("enable")==nil),
      :confirm => "Do you really want to enable this user account?"%>
		<% end %>
	</tr>
	<% end %>
</table>
<br />
