<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="margin-left:30px;margin-right:30px">
    <%= render 'layouts/notifications' %>
    <%= yield %>
  </div>

</body>
</html>

