<div class="header">
	<span class="header"><%= @idp_name %> IDP</span>
</div>

<div class="error">
	<span class="error"><%= @error %></span>
</div>
<div class='user_select'>
	<%= form_tag('idp/login', :method => 'post') do  %>
		<%= label_tag('selected_user', 'User:') %>
		<%= select_tag('selected_user', options_from_collection_for_select(@users, :staffUniqueStateId, :last_comma_first)) %> <br />
		<%= label_tag('selected_roles', 'Roles:') %>
		<%= select_tag('selected_roles', options_from_collection_for_select(@roles, 'to_s', 'to_s'), :multiple => true) %> <br />
		<%= submit_tag("Login", :id => 'login_button') %>
	<% end %>
</div>

<br />
<br />
<div class='logout'>
	<%= form_tag('idp/logout', :method => 'post') do %>
		<%= submit_tag('Logout') %>
	<% end %>
</div>

<script type="text/javascript">
</script>