<div id="notice">
	<%= notice %>
</div>

<h1>Editing district_authorization</h1>
<h3>The url is <%= @app.redirect_uri %></h3>           <!-- DEBUG LINE, REMOVE LATER -->
<%= form_for @app do |f| %>
    <%= hidden_field_tag("update_districts", true) %>
<table>
<% EducationOrganization.all.each do |education_organization| %>
  <tr>
    <td><%= education_organization.nameOfInstitution %></td>
    <td>
          <%= check_box_tag("authorized_ed_orgs[]", education_organization.id, @app.authorized_ed_orgs.include?(education_organization.id)) %>
    </td>
  </tr>
<% end %>
</table>
    <%= f.submit "Submit" %>
    <%= button_to_function("Check All", "checkAll()") %>
    <%= button_to_function("Uncheck All", "uncheckAll()") %>
<% end %>
<%= link_to 'Back', district_authorizations_path %>

<br />
